---
title: 404page
type: page
layout: default.hbs
---

<section class="section section-404">

	<div class="container">
		<div class="row justify-content-center text-center text-lg-left">
			<div class="col-10 col-lg-5 order-2 order-lg-1">

				<h1 class="h1-404">Oops!</h1>
				<p class="p">We can't seem to find the page you're looking for.</p>

				<p><strong>Error code: 404</strong></p>

				<a href="/" class="button button-primary m-t-30">Take me to the homepage</a>


			</div>

			<div class="col-6 col-md-5 col-lg-4 order-1 order-lg-2">

				<svg viewBox="0 0 278 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="img-fluid icon404">
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="icon" fill="none">
							<g id="Group">
								<polygon id="Fill-1" points="78.2071 60.7404 78.2071 79.6461 65.966 79.6461 65.966 100.184 43.1159 100.184 43.1159 79.6461 0 79.6461 0 62.7806 27.0664 4.8394 50.7326 4.8394 25.2983 60.7404 43.1159 60.7404 43.1159 40.4746 65.966 40.4746 65.966 60.7404"></polygon>
								<polygon id="Fill-2" points="277.737 60.7404 277.737 79.6461 265.496 79.6461 265.496 100.184 242.646 100.184 242.646 79.6461 199.53 79.6461 199.53 62.7806 226.596 4.8394 250.263 4.8394 224.828 60.7404 242.646 60.7404 242.646 40.4746 265.496 40.4746 265.496 60.7404"></polygon>
								<path id="zero" d="M115.638,49.4779 C115.638,46.2149 116.208,43.0859 117.246,40.1809 L155.541,74.2209 C151.842,76.0609 147.674,77.1009 143.262,77.1009 C128.006,77.1009 115.638,64.7339 115.638,49.4779 M170.885,49.4779 C170.885,52.8639 170.273,56.1069 169.158,59.1059 L130.67,24.8939 C134.447,22.9549 138.724,21.8539 143.262,21.8539 C158.518,21.8539 170.885,34.2219 170.885,49.4779 M143.262,0 C115.936,0 93.7839,22.1519 93.7839,49.4779 C93.7839,76.8029 115.936,98.9559 143.262,98.9559 C170.587,98.9559 192.74,76.8029 192.74,49.4779 C192.74,22.1519 170.587,0 143.262,0" id="Fill-3"></path>
							</g>
						</g>
					</g>
				</svg>
			</div>
		</div>
	</div>
</section>