---
title: Animations
type: component
layout: default.hbs
---



<section class="section">
	<div class="container">
        <h1 class="page-h1">Animations</h1>
        <div class="row">
            <div class="col-md-12 m-b-30">

             <div class="animatelogo">
                <div class="wrapper">
                    EDMB<span class="odometer">11</span>ING
                </div>

            </div>

        </div>

         <div class="row">
            <div class="col-md-12 m-b-30">

             
                    <span id="output">--</div>
           

            </div>

        </div>

    </div>
</div>
</section>


