---
title: Buttons
type: component
layout: default.hbs
---


<section class="section">
	<div class="container">
        <h1 class="page-h1">Buttons</h1>
		<div class="row">
			<div class="col-md-4 m-b-30">
                 <div>
                    <h3 class="form-label">Primary button</h3>
                    <a href="#" class="button button-primary">Submit</a>
                </div>
                 <div class="m-t-30">
                    <h3 class="form-label">Primary button small</h3>
                    <a href="#" class="button button-primary button-primary--small">I'm small</a>
                </div>
                <div class="m-t-30">
                    <h3 class="form-label">Primary button inverted</h3>
                    <a href="#" class="button button-primary button-primary--inverted">Inverted</a>
                </div>
                <div class="m-t-30">
                    <h3 class="form-label">Primary button with effect</h3>
                    <a href="#" class="button button-primary button-primary--effect">Hover effect</a>
                </div>
                 <div class="m-t-30">
                    <h3 class="form-label">Primary button lowercase</h3>
                    <a href="#" class="button button-primary button--lowercase">I'm lowercase</a>
                </div>
			</div>
            <div class="col-md-4">
                 <div>
                    <h3 class="form-label">Secondary button</h3>
                    <a href="#" class="button button-secondary">Submit</a>
                </div>
                <div class="m-t-30">
                    <h3 class="form-label">Secondary button inverted</h3>
                    <a href="#" class="button button-secondary button-secondary--inverted">Inverted</a>
                </div>
                <div class="m-t-30">
                    <h3 class="form-label">Secondary button no arrow</h3>
                    <a href="#" class="button button-secondary button-secondary--noArrow">No arrow</a>
                </div>
                <div class="m-t-30">
                    <h3 class="form-label">Secondary button back</h3>
                    <a href="#" class="button button-secondary button--back">Back</a>
                </div>
                <div class="m-t-30">
                    <h3 class="form-label">Secondary button back</h3>
                    <a href="#" class="button button-secondary button--lowercase">I'm lowercase</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="form-label">Loader button</h3>
                    <a href="#" class="button button-primary loading">Submit</a>
                </div>
            </div>
		</div>
	</div>
</section>
