---
title: Detail Camping
type: page
layout: default.hbs
---

<div class="accordeon accordeon--active">
	<div class="container">
		<span class="accordeon-step">1. Campsite</span>
		<div class="accordeon-buttons">
			<a href="#" onclick="goBack()" class="button button-secondary button--back">Back</a>
			<a href="step2-camping.html" class="button button-secondary">Next</a>
		</div>
	</div>
</div>
<section class="section detailpage">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-10">
				<h1 class="h1">Travellers Garden Enjoy 4 Persons</h1>
				<h2 class="h2">Pre-set up tent incl. air mattresses, sleeping bags, pillows, solar light</h2>
			</div>
			<div class="col-md-3 col-lg-2">
				<div class="detail-price">&euro; 299</div>
				<div class="detail-price-conditions">Price per person</div>
			</div>
		</div>
		<div class="gallery">
			
			<div class="owl-carousel owl-theme owl-pictures">
				<div class="item">
					<img src="assets/img/tenthond.jpg" alt="" class="img-fluid" />
				</div>
				<div class="item">
					<img src="assets/img/tenthond.jpg" alt="" class="img-fluid" />
				</div>
				<div class="item">
					<img src="assets/img/tenthond.jpg" alt="" class="img-fluid" />
				</div>
				<div class="item">
					<img src="assets/img/tenthond.jpg" alt="" class="img-fluid" />
				</div>
			</div>
			
		</div>
		<form class="form-packages">
			{{!-- <div class="row m-b-20">

				<div class="col-12 col-md-3">
					<div class="form-group">
						<label class="form-label" for="persons">Persons</label>
						<select class="form-control" id="persons">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-group">
						<label class="form-label" for="arrival">Arrival date</label>
						<select class="form-control" id="arrival">
							<option>24-11-2018</option>
							<option>25-11-2018</option>
							<option>26-11-2018</option>
							<option>27-11-2018</option>
							<option>28-11-2018</option>
						</select>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-group">
						<label class="form-label" for="departure">Departure date</label>
						<select class="form-control" id="departure">
							<option>24-11-2018</option>
							<option>25-11-2018</option>
							<option>26-11-2018</option>
							<option>27-11-2018</option>
							<option>28-11-2018</option>
						</select>
					</div>
				</div>
				<div class="col-12 col-md-3 text-right">
					<button class="button button-primary form-tickets-submit">Next</button>
				</div>

			</div> --}}
			<div class="row">
				<div class="col-lg-9">
					<div class="row m-b-20">
						<div class="col-lg-3 m-b-20">
							<label class="form-label">Persons</label>
							<div class="form-group">2</div>
						</div>
						<div class="col-lg-9">
							<label class="form-label">Tickets</label>
							<div class="form-group">
								<button type="button" class="d-inline-block info-btn" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
								<input class="form-check-input" type="radio" name="tickets" id="tickets1" value="value">
								<label class="form-check-label" for="tickets1">
									4x I already have my Festival Weekender + camping tickets
								</label>
							</div>
							<div class="form-group">
								<button type="button" class="d-inline-block info-btn" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
								<input class="form-check-input" type="radio" name="tickets" id="tickets2" value="value">
								<label class="form-check-label" for="tickets2">
									4x 2-day Festival Weekender + 4-day camping tickets, surcharge: €676
								</label>
							</div>
							<div class="form-group">
								<button type="button" class="d-inline-block info-btn" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
								<input class="form-check-input" type="radio" name="tickets" id="tickets3" value="value">
								<label class="form-check-label" for="tickets3">
									4x VIP 2-day Festival Weekender + 4-day camping tickets, surcharge: €1.076
								</label>
							</div>
						</div>
					</div>
					<div class="row m-b-20">
						<div class="col-6 col-lg-3">
							<div class="form-group">
								<label class="form-label">Arrival date</label>
								Thursday 23-08-2018
							</div>
						</div>
						<div class="col-6 col-lg-3">
							<div class="form-group">
								<label class="form-label">Departure date</label>
								Thursday 23-08-2018
							</div>
						</div>
					</div>
				</div>
				<div class="col col-lg-3 my-package">
					<div class="form-label">My Package</div>
					<div>6 persons x &euro;299</div>
					<div class="my-package-total">Total price<span class="float-right">&euro;1.794</span></div>
					<button class="button button-primary form-tickets-submit">Book now</button>
				</div>
			</div>
			

		</form>

		<hr class="hr">

		<div class="row">
			<div class="col-lg-8">
				<h3 class="h3 h3--textcolor">Information</h3>
				<p class="p">
					New Horizons Festival will have two different campsites: the Travellers Garden and the Royal Garden.
					This is your first stop and home for the weekend on this magical journey. Meet up with other Travellers and discover the surroundings which are beyond your imagination. The language in the Travellers Garden is music what means that no matter where you're from all Travellers will understand each other. Settle down, find some rest and look at the stars with your new made friends. The pre-set up Enjoy Tent s a spacious four person tent with four air mattresses (200 cm by 80 cm), four comfortable sleeping bags and four pillows, lights, clothing hooks, storage compartments and a separate front tent and living compartment. The tent is divided into two sleeping compartments with in between them a central baggage and living area. Specifications: 2 sleeping compartments of 180*230cm, 1 central baggage and living area of 160*230cm, ventilation and condensation system, 6 big storage compartments, Led-light and clothing hooks.
					<br /><br />
					You’re able to purchase food and drinks all day and night at our 24h campsite supermarket. There will be free drinking water at the festival area and campsite near the toilets. There will be restrooms and warm water showers at the Travellers Garden, you can use them as often as you want, and there will be power outlets at designated areas at the campsite. Stay on our campsite and get an extra festival day! You can check in from Thursday, August 23rd at 12h and you won’t need to leave before Sunday, August 26th at 20h. We will host a special pre-party on Thursday (the 23th of August 2018) for all those Travellers staying at the campsite. Arriving on Thursday? Make sure to be prepared for a crazy night full of fun! The pre-party will be on the festival site and the location will be announced upfront on our website and socials. Come to New Horizons in a relaxed way without bringing a tent. Your New Horizons tent will be ready at your arrival.
				</p>
			</div>
			<div class="col-lg-4">
				<h3 class="h3 h3--textcolor">Package information</h3>
				<ul class="offer-list">
					<li>Tipi for 9 persons</li>
					<li>9 Single stretchers including sleeping bags and pillows</li>
					<li>Table with stools</li>
					<li>A spot on our campsite</li>
					<li>3 Night stay</li>
					<li>Exclusive pre-party on Thursday</li>
					<li>New Horizons welcome package</li>
					<li>1 Parking ticket for Royal Garden parking</li>
				</ul>
			</div>
		</div>	
	</div>
</section>
<div class="accordeon">
	<div class="container">
		<a href="step2-camping.html">
			<span class="accordeon-step">2. Extra's</span>
			<div class="accordeon-buttons">
				Add extra's<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step3-camping.html">
			<span class="accordeon-step">3. Personal info</span>
			<div class="accordeon-buttons">
				Contact details<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step4-camping.html">
			<span class="accordeon-step">4. Summary</span>
			<div class="accordeon-buttons">
				Check and pay<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Festival Weekender + camping tickets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>
