---
title: DLDK Homepage
type: page
layout: default.hbs
---


<div class="hero hero-video">
    {{!-- <div class="sensation-hero-logo"><img src="assets/img/sensation/hero-logo.png" class="img-fluid"></div> --}}
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>
                        {{site.herotitle}}
                        <small>{{site.herosubtitle}}</small>
                    </h1>
                </div>
            </div>
            <div class="row">
                {{!-- <div class="col-md-6">
                    <a href="#" class="dldk-hero-btn">
                        Thailand
                        <span>14 Sep 2018, Bangkok</span>
                    </a>
                </div> --}}
                <div class="col text-center">
                     <a href="#" class="dldk-hero-btn">
                        Thailand
                        <span>14 Sep 2018, Bangkok</span>
                    </a>
                     <a href="#" class="dldk-hero-btn">
                        United Kingdom
                        <span>13 oct</span>
                    </a>
                </div>
                {{!-- <div class="col-lg-4">
                    <a href="#" class="dldk-hero-btn">
                        The Netherlands
                        <span>3 nov</span>
                    </a>
                </div> --}}
            </div>
        </div>
    </div>
    <video class="inlinevideo" autoplay loop muted playsinline style="background-image:url(assets/img/{{site.theme}}/hero.jpg)">
        <source src="assets/video/dldk-hero.mp4" data-wf-ignore="true">
    </video>
</div>