---
title: Email Inline
type: page
layout: mail.hbs
---
<div style="font-family:'Roboto',sans-serif;color:#010101;font-size:16px;margin:0 auto!important;padding:0!important;height:100%!important;width:100%!important">



























    <center style="width:100%;background:#e6e6e6;text-align:left">


        <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;font-family:sans-serif">
            Your booking information for Royal Garden &amp; Travellers Garden Pre-built campsite
        </div>



        <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;font-family:sans-serif">
            ‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌<wbr>&nbsp;‌&nbsp;‌&nbsp;
        </div>


        <div style="max-width:600px;margin:auto" class="m_3945282300711749703email-container">


            <table role="presentation" cellpadding="0" border="0" align="center" width="100%" style="background-color:#e6e6e6;border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important;max-width:600px" class="m_3945282300711749703header">
                <tbody><tr>
                    <td class="m_3945282300711749703logo" style="padding:15px 20px">
                        <img src="https://ci5.googleusercontent.com/proxy/7-uid3a6CJxGayaRBagRGdBCoQ9SCTW9-3y7tXMD8ltYuizTW-5i7Wq3NWOtvsyhbQhZp8PUJMPE1FzJvi_FLLptZ30ve8nrYmJx4J-pDINP1vqO95c=s0-d-e1-ft#http://travel.edmbooking.com/assets/img/edmbooking/logo-mail.png" alt="" class="m_3945282300711749703logo-img CToWUd" style="width:200px">
                    </td>
                    <td class="m_3945282300711749703header-text" style="font-family:'Prompt',sans-serif;font-weight:800;text-transform:uppercase;text-align:right;font-size:14px;padding-right:20px;white-space:nowrap">
                        Your booking
                    </td>
                </tr>
            </tbody></table>


            <table role="presentation" cellpadding="0" border="0" align="center" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important;max-width:600px">

                <tbody><tr>
                    <td class="m_3945282300711749703hero-img" style="background-image:url('https://ci4.googleusercontent.com/proxy/nmBQMCHGAGc8RI2Jk7d5-YPtpCfCYu4ePcj4EWfClo6nb6PrIPGriWn3XnFWO6Xvf4FKEZ9jdR5__yDdoD8awZZBk8uDfBckP5SbdakJaKcCz0FUsuFXP24BXQ5XNhevv7dxJdtATEtTdGNaZJCvwlWXFjeJ9wuspH6uDg=s0-d-e1-ft#http://nh.live.edmbooking.com/media/5aa5d0dd0a96b97585a849d20996fc75/2018/07/15/1ceb8/7d3031d9bcc2.jpg');height:300px;background-repeat:no-repeat;background-size:cover;background-position:center center"></td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td class="m_3945282300711749703hero" style="background-color:#000;text-align:center;padding:20px 20px;background-repeat:no-repeat;background-size:cover;background-position:bottom center">
                        <p class="m_3945282300711749703hero-title" style="font-family:'Prompt',sans-serif;font-weight:800;text-transform:uppercase;color:#fff;font-size:40px;line-height:40px;margin:0 0 10px 0">Royal Garden &amp; Travellers Garden</p>
                        <p class="m_3945282300711749703hero-subtitle" style="color:#fff;margin:0 0 0 0;font-size:16px;text-transform:uppercase">Pre-built campsite</p>
                    </td>
                </tr>

                <tr>
                    <td class="m_3945282300711749703td-color" style="background-color:#fff">
                        <table role="presentation" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody><tr>
                                <td class="m_3945282300711749703content" style="padding:20px;text-align:left">
                                    <p class="m_3945282300711749703h1" style="font-family:'Roboto',sans-serif;font-size:18px;font-weight:700">Roan, congratulations on your booking!</p>
                                    <p class="m_3945282300711749703p" style="font-family:'Roboto',sans-serif;font-size:15px;color:#010101;line-height:21px"></p><p></p><p>You followed your dream to be part of the magical story of New Horizons 2018. The Gatekeeper only opens the Gate to the Kingdom for special souls, and you are now one of them! We cannot wait to welcome you on this journey of a lifetime starting on the 23rd of August 2018.
</p><p>If you are staying at one of the Gardens, please bring this confirmation e-mail together with a valid ID and your Weekender Ticket to the Gardens' Gate. Just make your way to one of the check-in desks so that the Residents can help you settle in. Without a New Horizons Festival ticket, this confirmation email and a valid ID, you are not allowed to enter the Travellers or Royal Garden (campsites).
</p><p><b>DEPOSIT
</b></p><p>If you booked a Pre-setup Tent, Tipi, Flexotent or Flexotel, please remember to bring cash for the deposit (refund at check-out).&nbsp;&nbsp;</p><ul><li>
Travellers Garden Relax / Enjoy 1 person: € 50&nbsp;</li><li>Travellers Garden Relax / Enjoy 2 persons: € 100
</li><li>Travellers Garden Relax / Enjoy 4 persons: € 150
</li><li>Royal Garden Tipi (2, 5, 7 or 9 persons): € 50
</li><li>Flexotent (2 or 4 persons): € 50
</li><li>Flexotel (2 persons): € 100
</li></ul><p><b>TICKET </b>
</p><p>If you bought a TRAVELLERS GARDEN package with a Weekender Ticket, you will receive your ticket in a separate e-mail. Please be patient; tickets will be sent to you about two weeks prior to the festival.
</p><p>If you bought a ROYAL GARDEN package with a Weekender Ticket, you will receive wristbands by post. Your personal wristband will give access to both the festival and camping area. So you won’t be needing e-tickets. We want to make things as pleasant as possible for you! Please be patient: the wristbands will be sent to you about 2 weeks prior to New Horizons! It'll be worth the wait!
</p><p>If you bought FRIENDS tickets, you will receive your tickets a separate e-mail. Please be patient; tickets will be sent to you about two weeks prior to the festival.
</p><p>If you bought a HOTEL package with Festival ticket(s), you will receive wristbands at your arrival in your hotel. Your personal wristband will give access to the festival area. So you won’t be needing e-tickets. We want to make things as pleasant as possible for you!
</p><p>We are looking forward to welcoming you to the Kingdom of New Horizons 2018.
</p><p>See you in August!&nbsp;</p><p>
Warm Regards, <br>Your New Horizons Travel Resident&nbsp;</p><p>
</p><p><br></p><p></p>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr class="__web-inspector-hide-shortcut__">
                    <td class="m_3945282300711749703heading" style="background:#000;color:#fff;padding:10px 20px;font-family:'Prompt',sans-serif;font-weight:800;text-transform:uppercase;font-size:17px">
                        Personal information
                    </td>
                </tr>

                <tr class="__web-inspector-hide-shortcut__">
                    <td class="m_3945282300711749703td-color" style="background-color:#fff">
                        <table role="presentation" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody><tr>
                                <td class="m_3945282300711749703content" style="padding:20px;text-align:left">
                                    <table class="m_3945282300711749703content-table" cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;text-align:left;width:100%;font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:0;color:#010101;border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                                        <tbody><tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Prefix</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">mr</td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>First name</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">Roan</td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Last name</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">Hahn</td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Email</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><a href="mailto:jurgen@thisisloco.com" class="m_3945282300711749703link" style="color:#419bf7;text-decoration:underline" target="_blank">roanhahn@gmail.com</a></td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Phone number</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">+31648272913</td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Address</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">Waterhof 35</td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Zipcode</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">2102 LC</td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>City</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">Heemstede</td>
                                        </tr>
                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Bookingcode</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">ZUME855</td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                                <tr>
                    <td class="m_3945282300711749703heading" style="background:#000;color:#fff;padding:10px 20px;font-family:'Prompt',sans-serif;font-weight:800;text-transform:uppercase;font-size:17px">
                        Extra travellers
                    </td>
                </tr>
                <tr>
                    <td class="m_3945282300711749703td-color" style="background-color:#fff">
                        <table role="presentation" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody><tr>
                                <td class="m_3945282300711749703content" style="padding:20px;text-align:left">
                                    <table class="m_3945282300711749703content-table" cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;text-align:left;width:100%;font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:0;color:#010101;border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                                                                                <tbody><tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Guest 1</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">mr asdasd asda</td>
                                        </tr>
                                                                            </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                                   <tr>
                    <td class="m_3945282300711749703heading" style="background:#000;color:#fff;padding:10px 20px;font-family:'Prompt',sans-serif;font-weight:800;text-transform:uppercase;font-size:17px">
                        Your package information
                    </td>
                </tr>
                <tr>
                    <td class="m_3945282300711749703td-color" style="background-color:#fff">
                        <table role="presentation" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody>
                              <tr>
                                <td class="m_3945282300711749703content" style="padding:20px;text-align:left">
                                    <table class="m_3945282300711749703content-table" cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;text-align:left;width:100%;font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:0;color:#010101;border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                                        <tbody>
                                          <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Package</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">
                                                2x Travellers Garden Relax
                                            </td>
                                            <td class="m_3945282300711749703content-table-td m_3945282300711749703price" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101;text-align:right;width:30%;white-space:nowrap">€218.00</td>
                                        </tr>


                                         <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Room</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">1x 2 persons (2018-08-23)</td>
                                            <td class="m_3945282300711749703content-table-td m_3945282300711749703price" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101;text-align:right;width:30%;white-space:nowrap">€145.33                        </td>
                                        </tr>

                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Room</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">1x 2 persons (2018-08-23)</td>
                                            <td class="m_3945282300711749703content-table-td m_3945282300711749703price" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101;text-align:right;width:30%;white-space:nowrap">€145.33                        </td>
                                        </tr>

                                        <tr>
                                            <td class="m_3945282300711749703content-table-td" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101"><strong>Room</strong></td>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">1x 2 persons (2018-08-23)</td>
                                            <td class="m_3945282300711749703content-table-td m_3945282300711749703price" width="150" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101;text-align:right;width:30%;white-space:nowrap">€145.33                        </td>
                                        </tr>

                               </tbody>
                            </table>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>



                                     <tr>
                    <td class="m_3945282300711749703heading" style="background:#000;color:#fff;padding:10px 20px;font-family:'Prompt',sans-serif;font-weight:800;text-transform:uppercase;font-size:17px">
                        Payment method
                    </td>
                </tr>
                <tr>
                    <td class="m_3945282300711749703td-color" style="background-color:#fff">
                        <table role="presentation" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody><tr>
                                <td class="m_3945282300711749703content" style="padding:20px;text-align:left">
                                    <table class="m_3945282300711749703content-table" cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;text-align:left;width:100%;font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:0;color:#010101;border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                                        <tbody><tr>
                                            <td class="m_3945282300711749703content-table-td" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101">iDeal (Only available in the Netherlands)</td>
                                            <td class="m_3945282300711749703content-table-td m_3945282300711749703price" style="font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101;text-align:right;width:30%;white-space:nowrap">free</td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                                <tr>
                    <td class="m_3945282300711749703line" style="height:3px;background-color:#000">
                    </td>
                </tr>
                <tr>
                    <td class="m_3945282300711749703td-color" style="background-color:#fff">
                        <table role="presentation" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody><tr>
                                <td class="m_3945282300711749703content" style="padding:20px;text-align:left">
                                    <table class="m_3945282300711749703content-table" cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;text-align:left;width:100%;font-family:'Roboto',sans-serif;font-size:15px;line-height:21px;padding:0;color:#010101;border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                                        <tbody><tr>
                                            <td class="m_3945282300711749703content-table-td m_3945282300711749703total" style="font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101;font-family:'Roboto',sans-serif;font-weight:700;font-size:24px;text-transform:uppercase;padding-bottom:60px">Total</td>
                                            <td class="m_3945282300711749703content-table-td m_3945282300711749703total m_3945282300711749703price" style="font-size:15px;line-height:21px;padding:3px 0;vertical-align:top;color:#010101;text-align:right;width:30%;white-space:nowrap;font-family:'Roboto',sans-serif;font-weight:700;font-size:24px;text-transform:uppercase;padding-bottom:60px">€217.99</td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td class="m_3945282300711749703heading m_3945282300711749703heading-blue" style="background:#000;color:#fff;padding:10px 20px;font-family:'Prompt',sans-serif;font-weight:800;text-transform:uppercase;font-size:17px;background-color:#419bf7">
                        Contact &amp; more information
                    </td>
                </tr>
                <tr>
                    <td class="m_3945282300711749703td-color" style="background-color:#fff">
                        <table role="presentation" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody><tr>
                                <td class="m_3945282300711749703content" style="padding:20px;text-align:left">
                                    <div class="m_3945282300711749703p" style="font-family:'Roboto',sans-serif;font-size:15px;color:#010101;line-height:21px">
                                        <p><a href="mailto:hello@edmbooking.com" target="_blank">hello@edmbooking.com</a>
                                        <br><a href="tel:+31%206%2052%20382%2038" class="m_3945282300711749703link" target="_blank">Phone +31 6 52 382 38</a><br>
                                        <a href="https://api.whatsapp.com/send?phone=310625238238&amp;text=EDMBASSY" class="m_3945282300711749703link" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=nl&amp;q=https://api.whatsapp.com/send?phone%3D310625238238%26text%3DEDMBASSY&amp;source=gmail&amp;ust=1533045034148000&amp;usg=AFQjCNFnOMlWYkcnkeDPHhl4ZRziEjjxCA">Whatsapp +31 6 52 382 38</a><br></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>



            </tbody></table>
        </div>
    </center><div class="yj6qo"></div><div class="adL">
</div></div>