---
title: Booking error
type: page
layout: default.hbs
---

<section class="section section--succes">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10 col-md-8 col-lg-6">
				<div class="succes">
					<svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="error-icon">
						<defs></defs>
						<g id="cancel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<path d="M50,100 C77.5693312,100 100,77.5693312 100,50 C100,22.4306688 77.5693312,0 50,0 C22.4306688,0 0,22.4306688 0,50 C0,77.5693312 22.4306688,100 50,100 Z M50,4.9959217 C74.8164763,4.9959217 95.0040783,25.1835237 95.0040783,50 C95.0040783,74.8164763 74.8164763,95.0040783 50,95.0040783 C25.1835237,95.0040783 4.9959217,74.8164763 4.9959217,50 C4.9959217,25.1835237 25.1835237,4.9959217 50,4.9959217 Z M36.7659054,63.2340946 C37.2553018,63.723491 37.8874388,63.9681892 38.5399674,63.9681892 C39.1924959,63.9681892 39.824633,63.723491 40.3140294,63.2340946 L50.0203915,53.5277325 L59.7267537,63.2340946 C60.2161501,63.723491 60.8482871,63.9681892 61.5008157,63.9681892 C62.1533442,63.9681892 62.7854812,63.723491 63.2748777,63.2340946 C64.2536705,62.2553018 64.2536705,60.685155 63.2748777,59.7063622 L53.5277325,50 L63.2340946,40.2936378 C64.2128874,39.314845 64.2128874,37.7446982 63.2340946,36.7659054 C62.2553018,35.7871126 60.685155,35.7871126 59.7063622,36.7659054 L50,46.4722675 L40.2936378,36.7659054 C39.314845,35.7871126 37.7446982,35.7871126 36.7659054,36.7659054 C35.7871126,37.7446982 35.7871126,39.314845 36.7659054,40.2936378 L46.4722675,50 L36.7659054,59.7063622 C35.7871126,60.685155 35.7871126,62.2553018 36.7659054,63.2340946 Z" id="error" fill="none" fill-rule="nonzero"></path>
						</g>
					</svg>
					<div>
						<h3 class="h3">Payment Canceled</h3>
						<p class="p text-left">We are sorry that you decided to cancel your ultimate experience. If this is because of payment problems, please contact us so we can help you further.</p>

						<a href="homepage.html" class="button button-primary">Back to homepage</a>
					</div>



				</div>
			</div>
		</div>
	</div>
</section>