---
title: Event landing
type: page
layout: default.hbs
---


<div class="hero hero-fullscreen" style="background-image: url(assets/img/{{site.theme}}/eventheader.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">{{site.event}}
						<small>{{site.eventdate}}</small>
					</h1>
					<a href="step1-hotels.html" class="button button-secondary button-secondary--noArrow hero-button">Hotel &amp; Ticket</a>
					<a href="step1-packages.html" class="button button-secondary button-secondary--noArrow hero-button">Packages</a>
					<a href="step1-camping.html" class="button button-secondary button-secondary--noArrow hero-button">Camping</a>
				</div>
			</div>
			{{!-- <div class="row">
				<div class="col">
					<button class="hero-scrollbutton scrollTo" data-target="#eventinfo"><span></span>Event info</button>
				</div>
			</div> --}}
		</div>
	</div>
	<div class="hero-scroll scrollTo" data-target="#eventinfo">
		<span>Event info</span>
		<div class="arrow"></div>
		{{!-- <div class="bar"></div> --}}
	</div>
</div>

<section class="d-none">
	<div class="row no-gutters">
		<div class="col-md-4">
			<a href="step1-hotels.html" class="event event--blue">
				<div class="event-info">
					<h3 class="event-title">Hotel &amp; Ticket</h3>
					<div class="event-date">Nam eget dui. Etiam rhoncus.</div>
					<span class="button button-secondary">Let's go</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(http://via.placeholder.com/1200x1000);"></div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="step1-packages.html" class="event event--grey">
				<div class="event-info">
					<h3 class="event-title">Packages</h3>
					<div class="event-date">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
					<span class="button button-secondary">Let's go</span>
				</div>
				<div class="event-thumb event-thumb--grey" style="background-image: url(http://via.placeholder.com/1200x1000);"></div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="step1-camping.html" class="event event--red">
				<div class="event-info">
					<h3 class="event-title">Camping</h3>
					<div class="event-date">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</div>
					<span class="button button-secondary">Let's go</span>
				</div>
				<div class="event-thumb event-thumb--red" style="background-image: url(http://via.placeholder.com/1200x1000);"></div>
			</a>
		</div>
	</div>
</section>

<section class="section" id="eventinfo">
	<div class="container">
		<h3 class="h3 h3--big text-center">Event information</h3>
		<div class="row">
			<div class="event-info-wrapper">

				<div class="event-info-item">
					{{!-- <div class="img-container ratio-4-3">
						<img data-src="http://via.placeholder.com/800x600" class="img-fluid lazyload" alt="">
					</div> --}}
					<div class="content">
						<h3 class="h3 h3--eventinfo">EDM General info</h3>
						<p>
							On Saturday, July 28, Electronic Family will bring the best trance DJs from all over the world to Den Bosch. But there’s so much more! Enjoy our beach, the delicious food, the chill areas (with hammocks!) and cocktails to share with your friends.<br /><br />
							If you want to experience Electronic Family to the fullest, stay with us and design your ticket+hotel package today!
						</p>
					</div>
				</div>

				<div class="event-info-item">
					{{!-- <div class="img-container ratio-4-3">
						<img data-src="http://via.placeholder.com/800x600" class="img-fluid lazyload" alt="">
					</div> --}}
					<div class="content">
						<h3 class="h3 h3--eventinfo">Hassel free service</h3>
						<p>
							Please contact us for questions and special wishes at info@eventagent.nl or WhatsApp on:<br />
							+31(0)6 52 382 382.<br /><br />
							You will receive your hotel reservation and official E-tickets straight after you have completed your booking.
						</p>
					</div>
				</div>

				<div class="event-info-item">
					{{!-- <div class="img-container ratio-4-3">
						<img data-src="http://via.placeholder.com/800x600" class="img-fluid lazyload" alt="">
					</div> --}}
					<div class="content">
						<h3 class="h3 h3--eventinfo">Date &amp; time</h3>
						<p>
							Electronic Family 2018 is a one-day event and will take place on Saturday 28th of July.<br /><br />
							Show starts: 12h Show ends: 23h<br /><br />
							Afterparty starts: 23h (Family ticket only)<br />
							Afterparty ends: 01h (Family ticket only)
						</p>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>
{{> testimonials }}
{{!--
<div class="hero hero-event hero--blue" style="background-image: url(assets/img/event-header.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">Martin Garrix</h1>
					<p>14 november Las Vegas</p>
					<a href="event-info.html" class="button button-secondary">Event info</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section>
	<div class="row no-gutters">
		<div class="col-md-4">
			<a href="step1-hotels.html" class="event event--blue">
				<div class="event-info">
					<h3 class="event-title">Hotel + Ticket</h3>
					<div class="event-date">Nam eget dui. Etiam rhoncus.</div>
					<span class="button button-secondary">Let's go</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(assets/img/illu-hotel-ticket.jpg);"></div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="step1-packages.html" class="event event--grey">
				<div class="event-info">
					<h3 class="event-title">Packages</h3>
					<div class="event-date">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
					<span class="button button-secondary">Let's go</span>
				</div>
				<div class="event-thumb event-thumb--grey" style="background-image: url(assets/img/illu-packages.jpg);"></div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="step1-camping.html" class="event event--red">
				<div class="event-info">
					<h3 class="event-title">Camping</h3>
					<div class="event-date">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</div>
					<span class="button button-secondary">Let's go</span>
				</div>
				<div class="event-thumb event-thumb--red" style="background-image: url(assets/img/illu-camping.jpg);"></div>
			</a>
		</div>
	</div>
</section>

{{> testimonials }} --}}
