---
title: Event info
type: page
layout: default.hbs
---


<div class="hero hero-event hero--blue" style="background-image: url(assets/img/{{site.theme}}/hero3.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">
						{{site.event}}
						<small>Event information</small>
					</h1>
					{{!-- <h2 class="coming-soon">Coming soon!</h2> --}}
					<a href="#" onclick="goBack()" class="button button-secondary button--back-in-page">Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="event-info-wrapper">

				<div class="event-info-item">
					<div class="img-container ratio-4-3">
						<img data-src="http://via.placeholder.com/800x600" class="img-fluid lazyload" alt="">
					</div>
					<div class="content">
						<h3 class="h3 h3--eventinfo">General info</h3>
						<p>
							Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
						</p>
						<ul>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
						</ul>
					</div>
				</div>

				<div class="event-info-item">
					<div class="img-container ratio-4-3">
						<img data-src="http://via.placeholder.com/800x600" class="img-fluid lazyload" alt="">
					</div>
					<div class="content">
						<h3 class="h3 h3--eventinfo">Hassel free service</h3>
						<p>
							Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
						</p>
						<ul>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
						</ul>
					</div>
				</div>

				<div class="event-info-item">
					<div class="img-container ratio-4-3">
						<img data-src="http://via.placeholder.com/800x600" class="img-fluid lazyload" alt="">
					</div>
					<div class="content">
						<h3 class="h3 h3--eventinfo">Date and time</h3>
						<p>
							Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
						</p>
						<ul>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
						</ul>
					</div>
				</div>


			</div>
		</div>
		{{!-- <div class="row">
			<div class="col">
				<a href="step1-packages.html" class="button button-primary m-t-20 float-right">Back</a>
			</div>
		</div> --}}
	</div>
</section>
