---
title: Homepage
type: page
layout: default.hbs
homepage: true
---


{{> hero }}

{{!-- {{> hero-video }} --}}

<section>
	<div class="row no-gutters">
{{!-- 
		{{> event }}
		{{> event }}
		{{> event }}

		{{> event }}
		{{> event }}
		{{> event }}

		{{> event }}
		{{> event }}
		{{> event }} --}}



		
		{{!-- <div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">Madrid | Spain 2018</h3>
					<div class="event-date">NOV 3, 2018 Ifema Feria de Madrid</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(assets/img/sensation/event-1.jpg);"></div>
			</a>
		</div>

		<div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">Singapore | Singapore 2018</h3>
					<div class="event-date">Sept. 1, 2018 Changi exhibition center</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(assets/img/sensation/event-2.jpg);"></div>
			</a>
		</div>

		<div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">Gliwice | Poland 2018</h3>
					<div class="event-date">Oct. 13, Arena Gliwice</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(assets/img/sensation/event-3.jpg);"></div>
			</a>
		</div> --}}

		{{!-- ROW 2 --}}
		
		<div class="col-md-6 col-lg-4">
			<a href="#" class="event">
				<div class="event-info">
					<h3 class="event-title">Street Parade</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--white" style="background-image: url(assets/img/event-4.jpg);"></div>
			</a>
		</div>

		<div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">Love Parade</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(assets/img/event-5.jpg);"></div>
			</a>
		</div>

		<div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">ARMIN only</h3>
					<div class="event-date">Amsterdam, Netherlands, 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--white" style="background-image: url(assets/img/event-6.jpg);"></div>
			</a>
		</div>

		{{!-- ROW 3 --}}

		<div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">Tiesto</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--red" style="background-image: url(assets/img/event-7.jpg);"></div>
			</a>
		</div>

		<div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">Sensation Dubai</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--white" style="background-image: url(assets/img/event-8.jpg);"></div>
			</a>
		</div>

		<div class="col-md-6 col-lg-4">
			<a href="event-landing.html" class="event">
				<div class="event-info">
					<h3 class="event-title">Tomorrowland</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(assets/img/event-9.jpg);"></div>
			</a>
		</div>
	

	
	</div>
</section>
{{> testimonials }}
