---
title: Homepage with video
layout: default.hbs
homepage: true
---


{{> hero-video }}

<section>
	<div class="row no-gutters">
		<div class="col-md-6">
			<a href="event-landing.html" class="event event-two">
				<div class="event-info">
					<h3 class="event-title">Martin Garrix</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--blue" style="background-image: url(assets/img/event-1.jpg);"></div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="event-landing.html" class="event event-two">
				<div class="event-info">
					<h3 class="event-title">Mysteryland USA</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--red" style="background-image: url(assets/img/event-2.jpg);"></div>
			</a>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col">
			<a href="event-landing.html" class="event event-one">
				<div class="event-info">
					<h3 class="event-title">ARMIN only</h3>
					<div class="event-date">Las Vegas 14 november</div>
					<span class="button button-secondary">More info</span>
				</div>
				<div class="event-thumb event-thumb--grey" style="background-image: url(assets/img/event-6.jpg);"></div>
			</a>
		</div>
	</div>
</section>
{{> testimonials }}
