---
title: Homepage flexbox
type: page
layout: default.hbs
homepage: true
---


{{> hero }}

{{!-- {{> hero-video }} --}}

<section id="cases" class="events">

{{!-- <div class="event-flex">
	<a href="event-landing.html" class="event">
		<div class="event-info">
			<h3 class="event-title">Sensation Madrid</h3>
			<div class="event-date">Madrid 3 Nov 2018</div>
			<span class="button button-secondary">More info</span>
		</div>
		<div class="event-thumb b-lazy" data-src="assets/img/eventagent/case2.jpg"></div>
	</a>
</div>
<div class="event-flex">
	<a href="event-landing.html" class="event">
		<div class="event-info">
			<h3 class="event-title">Sensation Madrid</h3>
			<div class="event-date">Madrid 3 Nov 2018</div>
			<span class="button button-secondary">More info</span>
		</div>
		<div class="event-thumb b-lazy" data-src="assets/img/eventagent/case.jpg"></div>
	</a>
</div>
<div class="event-flex">
	<a href="event-landing.html" class="event">
		<div class="event-info">
			<h3 class="event-title">Sensation Madrid</h3>
			<div class="event-date">Madrid 3 Nov 2018</div>
			<span class="button button-secondary">More info</span>
		</div>
		<div class="event-thumb b-lazy" data-src="assets/img/eventagent/case3.jpg"></div>
	</a>
</div> --}}

		{{> event }}
		{{> event }}
		{{> event }}

		{{> event }}
		{{> event }}
		{{> event }}

		{{> event }}
		{{> event }}







</section>
{{> testimonials }}
