---
title: Loader met vliegtuig
type: component
layout: default.hbs
---

<section class="section">
    <div class="container">
        {{!-- <a href="#" onclick="goBack()" class="button button-secondary button--back float-right d-none d-md-block">Back</a> --}}
        <h1 class="page-h1">Loader met vliegtuig</h1>

        <div class="row">
            {{> loader-plane }}
        </div>


    </div>
</section>




