---
title: Login
type: page
layout: default.hbs
---

<section class="section section--login">
	<div class="container">
		<h1 class="page-h1 text-center">Login</h1>
		<div class="row">
			<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">			
				<form class="login m-t-30">
					<label class="form-label">Sign in with your EDM Booking account</label>
					<div>
						<input type="text" placeholder="E-mailaddress" class="input">
						<input type="password" placeholder="Bookingscode" class="input password">
					</div>
					<button class="button button-primary button--block" title="Sign in">Sign in</button>
					<p class="m-t-20">I lost my bookingcode <a href="#" title="">Click here</a></p>
				</form>
			</div>
		</div>
	</div>
</section>