---
title: Login
type: page
layout: default.hbs
---

<section class="section section--login">
	<div class="container">
		<a href="#" onclick="goBack()" class="button button-secondary button--back float-right d-none d-md-block">Back</a>
		<h1 class="page-h1">Login</h1>
		<div class="row">
			<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">			
				<form class="login m-t-30">
					<label class="form-label">Log in to view your booking</label>
					<div>
						<input type="text" placeholder="E-mailaddress" class="input">
						<input type="password" placeholder="Booking Code" class="input password">
					</div>
					<button class="button button-primary button--block" title="Log in">Log in</button>
					<p class="m-t-20">Lost your booking code? <a href="mailto:info@edmbassy.com" title="">Click here</a></p>
				</form>
			</div>
		</div>
	</div>
</section>