---
title: Responsive Images
type: component
layout: default.hbs
---

<section class="section">
	<div class="container">
		<div class="row">
			{{!-- <div class="col-md-3">
				<div class="img-container ratio-1-1">
					<img src="http://via.placeholder.com/600x300" alt="" class="lazyload">
				</div>
			</div> --}}

			<div class="col-md-3">
				<div class="img-container ratio-1-1 sm-ratio-3-4">
					<img data-src="assets/img/tent.jpg" alt="" class="lazyload">
				</div>
			</div>

			{{!-- <div class="col-md-3">
				<div class="img-container ratio-1-1">
					<img src="http://via.placeholder.com/300x600" alt="" class="lazyload">
				</div>
			</div> --}}
		</div>
	</div>
</section>