---
title: Background Slideshow With Text
type: component
layout: default.hbs
---
<div class="slideshow">
    <div class="owl-carousel owl-theme owl-slideshow">
        <div class="item slideshowbg" data-src="assets/img/edmsterdam/slider-1.jpg">
            <div class="slideshow-item">
                <h3>New Horizons Festival</h3>
                <p>A full New Horizons experience, including tickets, hotels and camping.</p>
            </div>
        </div>
        <div class="item slideshowbg" data-src="assets/img/edmsterdam/slider-2.jpg">
            <div class="slideshow-item">
                <h3>Cottage & Hotel packages</h3>
                <p>Embark on a multi-day journey across the spectrum of electronic music. Stay on our magical campsite or crash in a comfortable hotel.</p>
            </div>
        </div>
        <div class="item slideshowbg" data-src="assets/img/edmsterdam/slider-3.jpg">
            <div class="slideshow-item">
                <h3>Sensation World Tour</h3>
                <p>Travel to Sensation destinations around the globe.</p>
            </div>
        </div>
    </div>
    <span class="slide-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
    <span class="slide-next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    <div class="flexbuttons">
        <a href="step1-hotels.html" class="button button-secondary button-secondary--noArrow hero-button"><span>Hotel &amp; Ticket</span>{{!-- <span class="hero-button-subtitle">Or Hotel Only</span> --}}</a>
        <a href="step1-packages.html" class="button button-secondary button-secondary--noArrow hero-button"><span>Packages</span><span class="hero-button-subtitle"></span></a>
        <a href="step1-camping.html" class="button button-secondary button-secondary--noArrow hero-button"><span>Camping</span><span class="hero-button-subtitle"></span></a>
    </div>
    <div class="hero-scroll scrollTo" data-target="#eventinfo">
        <span>Event info</span>
        <div class="arrow"></div>
    </div>
</div>