---
title: Slider
type: component
layout: default.hbs
---

<div class="hero hero-fullscreen">
    {{!-- <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="hero-event-title">{{site.event}}
                        <small>{{site.eventdate}}</small>
                    </h1>
                    <div class="flexbuttons">
                        <a href="step1-hotels.html" class="button button-secondary button-secondary--noArrow hero-button"><span>Hotel &amp; Ticket</span></a>
                        <a href="step1-packages.html" class="button button-secondary button-secondary--noArrow hero-button"><span>Packages</span></a>
                        <a href="step1-camping.html" class="button button-secondary button-secondary--noArrow hero-button"><span>Camping</span></a>
                    </div>

                </div>
            </div>
        </div>
    </div> --}}


    <!-- Slider 1 -->
    <div class="slider" id="slider1">
        <!-- Slides -->
        <div style="background-image:url(assets/img/democamping/slider-1.jpg)"></div>
        <div style="background-image:url(assets/img/democamping/slider-2.jpg)"></div>
        <div style="background-image:url(assets/img/democamping/slider-3.jpg)"></div>
        <div style="background-image:url(assets/img/democamping/slider-4.jpg)"></div>
        <!-- The Arrows -->
        {{!-- <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path></svg></i>
        <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) "></path></svg></i> --}}
    </div>


    <div class="hero-scroll scrollTo" data-target="#eventinfo">
        <span>Event info</span>
        <div class="arrow"></div>
    </div>
</div>