---
title: Camping
layout: default.hbs
type: page
---


<div class="hero hero-event hero--blue" style="background-image: url(assets/img/event-header.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">
						Martin Garrix
						<small>14 november Las Vegas</small>
					</h1>
					<a href="camping-info.html" class="button button-secondary">Camping info</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="accordeon accordeon--active">
	<div class="container">
		<span class="accordeon-step">Your package</span>
		<div class="accordeon-buttons">
			<a href="event-landing.html" class="button button-secondary button--back">Back</a>
			<a href="step2-camping.html" class="button button-secondary">Next</a>
		</div>
	</div>
</div>
<section class="section">
	<div class="container">
		{{#parseJSON '{"title": "Travellers Garden Enjoy 4 Persons", "subheader": "Pre-set up tent incl. air mattresses, sleeping bags, pillows, solar light", "img": "tent.jpg", "button": "more info", "condition": "Price per person",  "url": "detail-camping"}'}}
		{{> offer }}
		{{> offer }}
		{{> offer }}
		{{> offer }}
		{{> offer }}
		{{/parseJSON}}
	</div>
</section>
<div class="accordeon">
	<div class="container">
		<a href="step2-camping.html">
			<span class="accordeon-step">Your Extra's</span>
			<div class="accordeon-buttons">
				Add extra's<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step3-camping.html">
			<span class="accordeon-step">Your details</span>
			<div class="accordeon-buttons">
				Contact details<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step4-camping.html">
			<span class="accordeon-step">Confirm</span>
			<div class="accordeon-buttons">
				Check and pay<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
