---
title: Summary
layout: default.hbs
type: page
---


{{!-- <div class="hero hero-event hero--blue" style="background-image: url(assets/img/event-header.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">Martin Garrix</h1>
					<p>14 november Las Vegas</p>
					<a href="#" class="button button-secondary">Event info</a>
				</div>
			</div>
		</div>
	</div>
</div> --}}


<div class="accordeon">
	<div class="container">
		<a href="step1-camping.html">
			<span class="accordeon-step">Your package</span>
			<div class="accordeon-buttons">
				Choose campsite<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step2-camping.html">
			<span class="accordeon-step">Your extras</span>
			<div class="accordeon-buttons">
				Add extra's<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step3-camping.html">
			<span class="accordeon-step">Your details</span>
			<div class="accordeon-buttons">
				Personal details<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon  accordeon--active">
	<div class="container">
		<span class="accordeon-step">Confirm</span>
		<div class="accordeon-buttons">
			<a href="step3-camping.html" class="button button-secondary button--back">Back</a>
		</div>
	</div>
</div>
<section class="section summary">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h4 class="h4">Personal information</h4>
				<table class="personal-summary">
					<tbody>
						<tr>
							<td class="prefix">Prefix</td>
							<td>Mr.</td>
						</tr>
						<tr>
							<td class="prefix">First name</td>
							<td>Jurgen</td>
						</tr>
						<tr>
							<td class="prefix">Last name</td>
							<td>van Zachten</td>
						</tr>
						<tr>
							<td class="prefix">Email</td>
							<td>jurgen@thisisloco.com</td>
						</tr>
						<tr>
							<td class="prefix">Phone</td>
							<td>+31(0)646255387</td>
						</tr>
						<tr>
							<td class="prefix">Address</td>
							<td>Ruysdaelhof Oost 9c</td>
						</tr>
						<tr>
							<td class="prefix">Zipcode</td>
							<td>5642 JM</td>
						</tr>
						<tr>
							<td class="prefix">City</td>
							<td>Eindhoven</td>
						</tr>
						<tr>
							<td class="prefix">Date of birth</td>
							<td>01-03-1980</td>
						</tr>
						<tr>
							<td class="prefix">Country</td>
							<td>The Netherlands</td>
						</tr>
					</tbody>
				</table>
				<h4 class="h4">Extra travellers</h4>
				<table class="personal-summary">
					<tbody>
						<tr>
							<td class="prefix">Guest 1</td>
							<td>Miss Jurgen van Zachten</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-6">
				<h4 class="h4">Your booking</h4>

				<table class="yourbooking-summary">
					<tbody>
						<tr>
							<td class="description">Ticket</td>
							<td class="content">2x Premium ticket</td>
							<td class="amount">&euro;150,00</td>
						</tr>
						<tr class="bookingrow">
							<td colspan="3">
								<hr>
							</td>
						</tr>
						<tr>
							<td class="description">Accomodation</td>
							<td class="content">Ibis Amsterdam Hotel</td>
							<td class="amount"></td>
						</tr>
						<tr>
							<td class="description">Check In</td>
							<td class="content">22-12-2018</td>
							<td class="amount"></td>	
						</tr>
						<tr>
							<td class="description">Check Out</td>
							<td class="content">25-12-2018</td>
							<td class="amount"></td>
						</tr>
						<tr>
							<td class="description">Room 1</td>
							<td class="content">Presidential Suite, 3 persons, 3 nights</td>
							<td class="amount">&euro;2.250,00</td>
						</tr>
						<tr>
							<td class="description">Room 2</td>
							<td class="content">Standard Double, 2 persons, 3 nights</td>
							<td class="amount">&euro;2.250,00</td>
						</tr>
						<tr class="bookingrow">
							<td colspan="3">
								<hr>
							</td>
						</tr>
						<tr>
							<td class="description">Extra</td>
							<td class="content">
								<ul>
									<li>Safari tour</li>
									<li>Limousine Transfer</li>
								</ul>
							</td>
							<td class="amount">
								<ul>
									<li>&euro;150,00</li>
									<li>&euro;150,00</li>
								</ul>
							</td>
						</tr>
						<tr class="bookingrow">
							<td colspan="3">
								<hr>
							</td>
						</tr>
						<tr>
							<td class="total">
								Total price
							</td>
							<td class="total text-right" colspan="2">
								&euro;3.456,00
							</td>
						</tr>
					</tbody>
				</table>

				

				<h4 class="h4 m-t-40">Choose your payment option</h4>
				<form class="m-b-30 m-t-30">
					<fieldset>
						<label class="payment-method">
							<input id="" class="method-radio" name="payment_method" value="ideal" type="radio">
							<img class="method-img" src="assets/img/icon-payment-ideal.png" alt="iDEAL">
							<span class="method-name">iDEAL</span>
							<span class="method-price">Gratis</span>
						</label>
						<label class="payment-method">
							<input id="" class="method-radio" name="payment_method" value="PayPal" type="radio">
							<img class="method-img" src="assets/img/icon-payment-paypal.png" alt="PayPal">
							<span class="method-name">PayPal</span>
							<span class="method-price">Gratis</span>
						</label>
						<label class="payment-method">
							<input id="" class="method-radio" name="payment_method" value="Mstercard" type="radio">
							<img class="method-img" src="assets/img/icon-payment-mastercard.png" alt="Mastercard">
							<span class="method-name">Mastercard</span>
							<span class="method-price">&euro;3,50</span>
						</label>
						<label class="payment-method">
							<input id="" class="method-radio" name="payment_method" value="Visa" type="radio">
							<img class="method-img" src="assets/img/icon-payment-visa.png" alt="Visa">
							<span class="method-name">Visa</span>
							<span class="method-price">Gratis</span>
						</label>
						<label class="payment-method">
							<input id="" class="method-radio" name="payment_method" value="MrCash" type="radio">
							<img class="method-img" src="assets/img/icon-payment-mistercash.png" alt="MrCash">
							<span class="method-name">MrCash</span>
							<span class="method-price">Gratis</span>
						</label>
						<label class="payment-method">
							<input id="" class="method-radio" name="payment_method" value="SOFORT" type="radio">
							<img class="method-img" src="assets/img/icon-payment-directebanking.png" alt="SOFORT Banking">
							<span class="method-name">SOFORT Banking</span>
							<span class="method-price">Gratis</span>
						</label>
						
					</fieldset>
				</form>

				<form class="m-t-40">
					<input type="checkbox" name="" id="conditions" value="" class="form-checkbox"> I agree with the <a href="#" class="text-link">Terms &amp; conditions</a>
					<p class="m-t-10">Your booking confirmation and the link to your official tickets will be processed and send to you per email directly.</p>

					<a href="#" class="button button--next button-primary m-t-20 {{!-- float-right --}} button--block"><i class="fa fa-lock" aria-hidden="true"></i>Buy now</a>
				</form>
			</div>
		</div>
	</div>
</section>

