---
title: Personal info
layout: default.hbs
type: page
---


{{!-- <div class="hero hero-event hero--blue" style="background-image: url(assets/img/event-header.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">Martin Garrix</h1>
					<p>14 november Las Vegas</p>
					<a href="#" class="button button-secondary">Event info</a>
				</div>
			</div>
		</div>
	</div>
</div> --}}


<div class="accordeon">
	<div class="container">
		<a href="step1-camping.html">
			<span class="accordeon-step">Package</span>
			<div class="accordeon-buttons">
				Choose campsite<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step2-camping.html">
			<span class="accordeon-step">Extras</span>
			<div class="accordeon-buttons">
				Add extra's<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon accordeon--active">
	<div class="container">
		<span class="accordeon-step">Details</span>
		<div class="accordeon-buttons">
			<a href="step2-camping.html" class="button button-secondary button--back">Back</a>
			{{!-- <a href="step4-camping.html" class="button button-secondary">Next</a> --}}
		</div>
	</div>
</div>
<section class="section">
	<div class="container">
		<form>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="salutation" class="form-label">Main Booker</label>
						<select class="form-control" id="salutation">
							<option>Mr.</option>
							<option>Mrs.</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="" class="form-label">First name</label>
						<input type="text" class="form-control textfield is-invalid" id="firstname" value="6jadsd" placeholder="First name" required="required">
						<div class="invalid-feedback" style="display: block;">Please provide a valid name</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="" class="form-label">Last Name</label>
						<input type="text" class="form-control textfield is-valid" value="Bhugwansing" id="lastname" placeholder="Last name" required="required">
						<div class="valid-feedback" style="display: block;">Success! You've done it.</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="address" class="form-label">Address</label>
						<input type="text" class="form-control textfield" id="address" placeholder="Fift Avenue" required="required">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="zipcode" class="form-label">Zipcode</label>
						<input type="text" class="form-control textfield" id="zipcode" placeholder="e.g. 1234 AB" required="required">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="city" class="form-label">City</label>
						<input type="text" class="form-control textfield" id="city" placeholder="New York" required="required">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="Phonenumber" class="form-label">Phonenumber</label>
						<input type="text" class="form-control textfield" id="Phonenumber" placeholder="06 56 34 56 78" required="required">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control textfield" id="email" placeholder="johndoe@gmail.com" required="required">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="dateofbirth" class="form-label">Date of birth</label>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control is-invalid" id="dateofbirth">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
								</select>
								<div class="invalid-feedback" style="display: block;">Please select a date</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control is-valid">
									<option>January</option>
									<option>February</option>
									<option>March</option>
									<option>April</option>
									<option>May</option>
									<option>January</option>
									<option>February</option>
									<option>March</option>
									<option>April</option>
									<option>May</option>
									<option>January</option>
									<option>February</option>
									<option>March</option>
									<option>April</option>
									<option>May</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control">
									<option>2010</option>
									<option>2009</option>
									<option>2008</option>
									<option>2007</option>
									<option>2006</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="Country" class="form-label">Country</label>
						<select class="form-control" id="Country" required="required">
							<option value="" selected="selected">Select country</option>
							<option value="The Netherlands">The Netherlands</option>
							<option value="France">France</option>
						</select>
					</div>
				</div>
			</div>

			<div class="m-t-40">

				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label for="guest" class="form-label">Guest 2</label>
							<select class="form-control" id="guest">
								<option value="mr">Mr.</option>
								<option value="mrs">Mrs.</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="" class="form-label">First name</label>
							<input type="text" class="form-control textfield" id="guest-firstname" placeholder="First name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="" class="form-label">Last name</label>
							<input type="text" class="form-control textfield" id="guest-lastname" placeholder="Last name">
						</div>
					</div>
				</div>
			</div>

			<div class="m-t-40">
				<h3 class="h3">Account optional*</h3>
				<p class="p m-b-30">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
				<hr class="hr">
				<h3 class="h5">Create an account with username and password</h3>
				<div class="row">
					<div class="col-md-4 col-lg-3">
						<label for="" class="form-label">Your username</label>
						<div class="form-group">
							<input type="text" class="form-control textfield" id="" placeholder="Username">
						<div class="feedback" style="display: block;">Min 8 characters</div>
						</div>
					</div>
					<div class="col-md-4 col-lg-3">
						<label for="" class="form-label">Your password</label>
						<div class="form-group">
							<input type="password" class="form-control textfield" id="" placeholder="Password">
						<div class="feedback" style="display: block;">Password must contain Aa0-9!</div>
						</div>
					</div>
					<div class="col-md-4 col-lg-3">
						<label for="" class="form-label">Password again</label>
						<div class="form-group">
							<input type="password" class="form-control textfield" id="" placeholder="Password">
						</div>
					</div>
				</div>

				<h3 class="h5 m-t-20">Or create an account using your social network account</h3>
				<div class="row">
					<div class="col">
						<button class="button-facebook button--mobileblock">Facebook</button>
						<button class="button-google button--mobileblock">Google+</button>
					</div>

				</div>
				<hr class="hr">
				<h3 class="h5 m-t-20">Or proceed without making account</h3>
				<div>
					<input type="checkbox" id="noaccount"><label for="noaccount" class="form-label form-label--inline">Proceed without making account</label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<input type="submit" class="button button-primary m-t-20 float-right" value="next">
				</div>
			</div>


		</form>
	</div>
</section>
<div class="accordeon">
	<div class="container">
		<a href="step4-camping.html">
			<span class="accordeon-step">Confirm</span>
			<div class="accordeon-buttons">
				Check and pay<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>

