---
title: Personal info
layout: default.hbs
type: page
---


{{!-- <div class="hero hero-event hero--blue" style="background-image: url(assets/img/event-header.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">Martin Garrix</h1>
					<p>14 november Las Vegas</p>
					<a href="#" class="button button-secondary">Event info</a>
				</div>
			</div>
		</div>
	</div>
</div> --}}


<div class="accordeon">
	<div class="container">
		<a href="step1-camping.html">
			<span class="accordeon-step">Package</span>
			<div class="accordeon-buttons">
				Choose campsite<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step2-camping.html">
			<span class="accordeon-step">Extras</span>
			<div class="accordeon-buttons">
				Add extra's<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon accordeon--active">
	<div class="container">
		<span class="accordeon-step">Details</span>
		<div class="accordeon-buttons">
			<a href="step2-camping.html" class="button button-secondary button--back">Back</a>
			{{!-- <a href="step4-camping.html" class="button button-secondary">Next</a> --}}
		</div>
	</div>
</div>
<section class="section">
	<div class="container">
		<form>
			<label for="salutation" class="form-label">Main Booker</label>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<select class="form-control" id="salutation">
							<option>Mr.</option>
							<option>Mrs.</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" class="form-control textfield is-invalid" id="firstname" value="6jadsd" placeholder="First name" required="required">
						<div class="invalid-feedback" style="display: block;">Please provide a valid name</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control textfield is-valid" value="Bhugwansing" id="lastname" placeholder="Last name" required="required">
						<div class="valid-feedback" style="display: block;">Success! You've done it.</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="address" class="form-label">Address</label>
						<input type="text" class="form-control textfield" id="address" placeholder="Fift Avenue" required="required">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="zipcode" class="form-label">Zipcode</label>
						<input type="text" class="form-control textfield" id="zipcode" placeholder="e.g. 1234 AB" required="required">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="city" class="form-label">City</label>
						<input type="text" class="form-control textfield" id="city" placeholder="New York" required="required">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="Phonenumber" class="form-label">Phonenumber</label>
						<input type="text" class="form-control textfield" id="Phonenumber" placeholder="06 56 34 56 78" required="required">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control textfield" id="email" placeholder="johndoe@gmail.com" required="required">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="dateofbirth" class="form-label">Date of birth</label>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control is-invalid" id="dateofbirth">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
								<div class="invalid-feedback" style="display: block;">Please select a date</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control is-valid">
									<option>January</option>
									<option>February</option>
									<option>March</option>
									<option>April</option>
									<option>May</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control">
									<option>2010</option>
									<option>2009</option>
									<option>2008</option>
									<option>2007</option>
									<option>2006</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="Country" class="form-label">Country</label>
						<select class="form-control" id="Country" required="required">
							<option value="" selected="selected">Select country</option>
							<option value="The Netherlands">The Netherlands</option>
							<option value="France">France</option>
						</select>
					</div>
				</div>
			</div>

			<div class="m-t-40">
				<label for="guest" class="form-label">Name guest 2</label>
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<select class="form-control" id="guest">
								<option value="mr">Mr.</option>
								<option value="mrs">Mrs.</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control textfield" id="guest-firstname" placeholder="First name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control textfield" id="guest-lastname" placeholder="Last name">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<input type="submit" class="button button-primary m-t-20 float-right" value="next">
				</div>
			</div>


		</form>
	</div>
</section>
<div class="accordeon">
	<div class="container">
		<a href="step4-camping.html">
			<span class="accordeon-step">Confirm</span>
			<div class="accordeon-buttons">
				Check and pay<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>

