---
title: Select tickets
layout: default.hbs
type: page
---


<div class="hero hero-event hero--blue" style="background-image: url(assets/img/{{site.theme}}/hero.png)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">{{site.event}}
						<small>{{site.eventdate}}</small>
					</h1>
					<a href="event-info.html" class="button button-secondary">Event info</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="accordeon accordeon--active">
	<div class="container">
		<span class="accordeon-step">Ticket</span>
		<div class="accordeon-buttons">
			<a href="event-landing.html" class="button button-secondary button--back">Back</a>
			<a href="step2-hotels.html" class="button button-secondary">Next</a>
		</div>
	</div>
</div>
<section class="section">
	<form>
		<div class="container">
			{{> ticket }}
			<div class="row">
				<div class="col">
					<a href="step2-hotels.html" class="button button-primary m-t-20 float-right">Next</a>
				</div>
			</div>
		</div>
	</form>
</section>
<div class="accordeon">
	<div class="container">
		<a href="step2-hotels.html">
		<span class="accordeon-step">Hotel</span>
		<div class="accordeon-buttons">
			Choose your hotel<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
		</div>
	</a>
	</div>
</div>


{{!-- <div class="accordeon">
	<div class="container">
		<a href="detail-hotel-ticket.html">
			<span class="accordeon-step">Room</span>
			<div class="accordeon-buttons">
				Choose your room<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div> --}}

<div class="accordeon">
	<div class="container">
		<a href="step2-camping.html">
			<span class="accordeon-step">Extras</span>
			<div class="accordeon-buttons">
				Select extras<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>

<div class="accordeon">
	<div class="container">
		<a href="step3-camping.html">
			<span class="accordeon-step">Details</span>
			<div class="accordeon-buttons">
				Contact details<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="accordeon">
	<div class="container">
		<a href="step4-camping.html">
			<span class="accordeon-step">Confirm</span>
			<div class="accordeon-buttons">
				Check and pay<span class="accordeon-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
		</a>
	</div>
</div>

