---
title: Booking succes
type: page
layout: default.hbs
---

<section class="section section--succes">
	
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-10 col-md-8 col-lg-6">
					<div class="succes">

						{{!-- <svg class="checkmark-succes" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__succes" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg> --}}


						<img src="assets/img/succes.svg" alt="" class="succes-icon">
						<div>
							<h3 class="h3">Thanks for your booking!</h3>
							<p class="p text-left">The transaction was succesfull. Please check the info below. An email with details will be send to mpouwels@gmail.com</p>
							<table>
								<tbody>
									<tr>
										<td width="50%" class="type">Date</td>
										<td width="50%">February 8, 2018</td>
									</tr>
									<tr>
										<td class="type">Payment Type</td>
										<td>iDEAL</td>
									</tr>
									<tr>
										<td class="type">Total</td>
										<td>&euro;456.00</td>
									</tr>
								</tbody>
							</table>
							<a href="homepage.html" class="button button-primary">Back to homepage</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="videowrapper">
		<div id="hero-video" class="videoplayer"></div>
	</div> --}}
</section>