---
title: Booking succes
type: page
layout: default.hbs
---

<section class="section section--succes">
	
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-10 col-md-8 col-lg-6">
					<div class="succes">

						{{!-- <svg class="checkmark-succes" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__succes" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg> --}}


						<svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="succes-icon">
						    <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
						    <desc>Created with Sketch.</desc>
						    <defs></defs>
						    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <g id="succes">
						            <path d="M50,0 C22.386,0 0,22.386 0,50 C0,77.614 22.386,100 50,100 C77.614,100 100,77.614 100,50 C100,22.386 77.614,0 50,0 M50,5.435 C74.573,5.435 94.565,25.427 94.565,50 C94.565,74.573 74.573,94.565 50,94.565 C25.427,94.565 5.435,74.573 5.435,50 C5.435,25.427 25.427,5.435 50,5.435"  fill="none" fill-rule="nonzero" id="circle"></path>
						            <polyline id="check" stroke="none" stroke-width="5" points="28.5 50 48 66.744 73 35.507"></polyline>
						        </g>
						    </g>
						</svg>


						{{!-- <img src="assets/img/succes.svg" alt="" class="succes-icon"> --}}
						<div>
							<h3 class="h3">Thanks for your booking!</h3>
							<p class="p text-left">The transaction was succesfull. Please check the info below. An email with details will be send to mpouwels@gmail.com</p>
							<table>
								<tbody>
									<tr>
										<td width="50%" class="type">Date</td>
										<td width="50%">February 8, 2018</td>
									</tr>
									<tr>
										<td class="type">Payment Type</td>
										<td>iDEAL</td>
									</tr>
									<tr>
										<td class="type">Total</td>
										<td>&euro;456.00</td>
									</tr>
								</tbody>
							</table>
							<a href="homepage.html" class="button button-primary">Back to homepage</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="videowrapper">
		<div id="hero-video" class="videoplayer"></div>
	</div> --}}
</section>