---
title: SVG
type: component
layout: default.hbs
---


<section class="section">
	<div class="container">
        <h1 class="page-h1">SVG elements</h1>
		<div class="row">
			<div class="col-md-4 m-b-30">
                 <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <g id="Group">
                    <circle  class="checkmark__circle" id="Oval" fill="none" cx="26" cy="26" r="26"></circle>
                   <path class="checkmark__cross" fill="none" d="M26.1923882,24.7781746 L35.3847763,15.5857864 L36.7989899,17 L27.6066017,26.1923882 L36.7989899,35.3847763 L35.3847763,36.7989899 L26.1923882,27.6066017 L17,36.7989899 L15.5857864,35.3847763 L24.7781746,26.1923882 L15.5857864,17 L17,15.5857864 L26.1923882,24.7781746 Z"></path>
                </g>
            </svg>
			</div>
            <div class="col-md-4">
                

<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
            </div>
            <div class="col-md-4">
                

            </div>
		</div>
	</div>
</section>


