---
title: Vimeo
type: component
layout: default.hbs
---

<div class="vimeo">
    <div class="vimeo-wrapper">
        <iframe src="https://player.vimeo.com/video/79877734?background=1#t=40s" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>