---
title: Vimeo
type: component
layout: default.hbs
---

<div class="vimeo">

        <video src="https://player.vimeo.com/external/250748184.hd.mp4?s=4654fd490c4f22cb13e7578f30d7c4bc28c035dc&amp;profile_id=174" autoplay="" loop="" class="hero__video hero__video--centered" data-object-fit="cover"></video>

</div>