<div class="col-md-4">
	<a href="event-landing.html" class="event">
		<div class="event-info">
			<h3 class="event-title">Sensation Madrid</h3>
			<div class="event-date">Madrid 3 Nov 2018</div>
			<span class="button button-secondary">More info</span>
		</div>
		<div class="event-thumb event-thumb--white" style="background-image: url(assets/img/{{site.theme}}/event-1.jpg);"></div>
	</a>
</div>