<ul class="extra">
	<li class="extra-listitem">
		<div class="extra-item">
			<div class="extra-title">
				<button class="extra-btn" data-type="slidetoggle" data-target="#extra-1"><i class="fa fa-question-circle" aria-hidden="true"></i></button>Festival Ticket VIP
			</div>
			<div class="extra-price">&euro;200</div>
			<div class="extra-add">
				<button class="button button-primary button-add"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to cart</span></button>
			</div>
		</div>
		<div class="extra-details" id="extra-1">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-2">
					<img data-src="http://via.placeholder.com/600x600" alt="" class="img-fluid lazyload">
				</div>
				<div class="col-sm-6 col-md-8 col-lg-10">
					<ul>
						<li>Private car and driver for transfer to A State Of Trance and back to hotel</li>
						<li>The driver will be stand-by for your convenience</li>
						<li>Select the number of cars you need</li>
						<li>ASOT team will contact you with transfer information</li>
						<li>Price per car for max 4 persons</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li class="extra-listitem">
		<div class="extra-item">
			<div class="extra-title">
				<button class="extra-btn" data-type="slidetoggle" data-target="#extra-2"><i class="fa fa-question-circle" aria-hidden="true"></i></button>Festival Ticket VIP
			</div>
			<div class="extra-price">&euro;200</div>
			<div class="extra-add">
				<button class="button button-primary button-add"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to cart</span></button>
			</div>
		</div>
		<div class="extra-details" id="extra-2">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-2">
					<img data-src="http://via.placeholder.com/600x600" alt="" class="img-fluid lazyload">
				</div>
				<div class="col-sm-6 col-md-8 col-lg-10">
					<ul>
						<li>Private car and driver for transfer to A State Of Trance and back to hotel</li>
						<li>The driver will be stand-by for your convenience</li>
						<li>Select the number of cars you need</li>
						<li>ASOT team will contact you with transfer information</li>
						<li>Price per car for max 4 persons</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li class="extra-listitem">
		<div class="extra-item">
			<div class="extra-title">
				<button class="extra-btn" data-type="toggle" data-target="#extra-3"><i class="fa fa-question-circle" aria-hidden="true"></i></button>Festival Ticket VIP
			</div>
			<div class="extra-price">&euro;200</div>
			<div class="extra-add">
				<button class="button button-primary button-add"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to cart</span></button>
			</div>
		</div>
		<div class="extra-details" id="extra-3">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-2">
					<img data-src="http://via.placeholder.com/600x600" alt="" class="img-fluid lazyload">
				</div>
				<div class="col-sm-6 col-md-8 col-lg-10">
					<ul>
						<li>Private car and driver for transfer to A State Of Trance and back to hotel</li>
						<li>The driver will be stand-by for your convenience</li>
						<li>Select the number of cars you need</li>
						<li>ASOT team will contact you with transfer information</li>
						<li>Price per car for max 4 persons</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
</ul>