<div class="offer">
	<div class="row">
		<div class="col-md-6 col-lg-3">
			<div class="img-container ratio-1-1"><img src="http://via.placeholder.com/600x600" alt="" class="img-fluid"></div>
		</div>
		<div class="col-md-6 col-lg-9">
			<div class="row">
				<div class="col-lg-8">
					<h3 class="offer-title">Private tansfer</h3>
					<ul class="offer-list offer-list--nocolumns">
						<li>Private car and driver for transfer to EF and back to hotel</li>
						<li>The driver will by standby at your convenience</li>
						<li>Select the number of cars you need</li>
						<li>EF team will contact you with transfer information</li>
						<li>Price per car for max 4 persons</li>
					</ul>
					{{!-- <div class="row">
						<div class="col-6 col-md-4">
							<form class="form m-t-20">

								<div class="form-group">
									<label class="form-label" for="cars">Number of cars</label>
									<select class="form-control" id="cars">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>

							</form>
						</div>
					</div> --}}
				</div>
				<div class="col-lg-4">
					<div class="offer-info">
						<span class="offer-price">&euro; 299</span>
						<span class="offer-price-condition">Price per person</span>
						<form class="form m-t-20">
							<div class="form-group">
								<label class="form-label" for="cars">Number of cars</label>
								<select class="form-control" id="cars">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</form>
						<button href="#" class="button button-primary">Select option</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
