<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 footer-col">
				<h4>Need help?</h4>
				<ul>
					<li><a href="#">info@edmbassy.com</a></li>
					<li>Phone  <a href="tel:+31 6 52 382 38">+31 6 52 382 38</a></li>
					<li>Whatsapp <a href="https://api.whatsapp.com/send?phone=310625238238&text=EDMbassy">+31 6 52 382 38</a></li>
				</ul>
			</div>
			<div class="col-lg-3 footer-col">
				<h4>Info</h4>
				<ul>
					<li><a href="whybook.html">Why book</a></li>
					<li><a href="page.html">Tell me more</a></li>
					<li><a href="page.html">Manage my booking</a></li>
				</ul>				  
			</div>
			<div class="col-lg-3 footer-col">
				<h4>About</h4>
				<ul>
					<li><a href="page.html">About us</a></li>
					<li><a href="page.html">Disclaimer</a></li>
					<li><a href="faq.html">FAQ</a></li>
				</ul>
			</div>
			{{!-- <div class="col-lg-3 footer-col">
				<h4>Subscribe</h4>
				<form class="footer-subscribe">
					<div class="inner">
						<input type="text" name="" placeholder="your emailaddress">
						<a href="#" class="submit">ok</a>
					</div>
				</form>
			</div> --}}
			
			<div class="col-lg-3 footer-col">
				<h4>Follow us</h4>
				<ul class="social">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>			  
			</div>
		</div>
		<div class="row">
			<div class="col payoff">
				<hr>
				<span class="copyright">&copy; EDMBASSY All rights reserved. {{!-- <a href="page.html">Disclaimer</a> --}}</span>
				<span class="credits"><a href="page.html">Terms &amp; Conditions</a> | <a href="page.html">Privacy Policy</a></span>
			</div>	
		</div>
		{{!-- <div class="row">
			<div class="col">
				<ul class="social">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div> --}}
	</div>
</footer>