<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 footer-col">
				<h4>Need help?</h4>
				<ul>
					<li><a href="mailto:info@edmbassy.com">info@edmbassy.com</a></li>
					<li>Phone  <a href="tel:+3165238238">+31 6 52 382 38</a></li>
					<li>Whatsapp <a href="https://api.whatsapp.com/send?phone=31625238238&text=EDMBASSY">+31 6 52 382 38</a></li>
				</ul>
			</div>
			<div class="col-lg-3 footer-col">
				<h4>Info</h4>
				<ul>
					<li><a href="whybook.html">Why EDMBASSY</a></li>
					<li><a href="faq.html">Tell me more</a></li>
					<li><a href="page.html">Manage my booking</a></li>
					<li><a href="page.html">About EDMBASSY</a></li>
				</ul>				  
			</div>
			<div class="col-lg-3 footer-col">
				<h4>Language</h4>
				<form class="language">
					{{!-- <label>Language</label> --}}
					<select>
						<option>English</option>
					</select>
				</form>
			</div>
			{{!-- <div class="col-lg-3 footer-col">
				<h4>Subscribe</h4>
				<form class="footer-subscribe">
					<div class="inner">
						<input type="text" name="" placeholder="your emailaddress">
						<a href="#" class="submit">ok</a>
					</div>
				</form>
			</div> --}}
			<div class="col-lg-3 footer-col">
				<h4>Follow us</h4>
				<ul class="social">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="https://api.whatsapp.com/send?phone=31625238238&text=EDMBASSY"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
				</ul>			  
			</div>
		</div>
		<div class="row">
			<div class="col"><hr></div>
		</div>
		<div class="row">
			<div class="col payoff">
				<div class="copyright">
					&copy; EDMBASSY All rights reserved. {{!-- <a href="page.html">Disclaimer</a> --}}
					<span class="legals"><a href="page.html">Terms &amp; Conditions</a> <a href="page.html">Privacy Policy</a>
					<a href="page.html">Disclaimer</a></span>
				</div>
				{{!-- <span class="credits"><a href="page.html">Terms &amp; Conditions</a> | <a href="page.html">Privacy Policy</a></span> --}}
			</div>
			
		</div>
		{{!-- <div class="row">
			<div class="col">
				<ul class="social">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div> --}}
	</div>
</footer>
<div class="footer-logos">
	<div class="container">
		<ul>
			<li><img src="assets/img/logo-mastercard.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-visa.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-paypal.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-ideal.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-mrcash.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-sofort.png" alt="" class="lazyload"></li>
		</ul>
	</div>
</div>