<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 footer-col">
				<h4>Need help?</h4>
				<ul>
					<li><a href="#">info@edmbassy.com</a></li>
					<li>Phone  <a href="tel:+31 6 52 382 38">+31 6 52 382 38</a></li>
					<li>Whatsapp <a href="https://api.whatsapp.com/send?phone=310625238238&text=EDMbassy">+31 6 52 382 38</a></li>
				</ul>
			</div>
			<div class="col-lg-3 footer-col">
				<h4>Company</h4>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">Newsletter</a></li>
					<li><a href="#">Partners</a></li>
				</ul>
			</div>
			<div class="col-lg-3 footer-col">
				<h4>Subscribe</h4>
				<form class="footer-subscribe">
					<div class="inner">
						<input type="text" name="" placeholder="your emailaddress">
						<a href="#" class="submit">ok</a>
					</div>
				</form>
			</div>
			<div class="col-lg-3 footer-col">
				<h4>Legal</h4>
				<ul>
					<li><a href="page.html">Terms &amp; Conditions</a></li>
					<li><a href="page.html">Disclaimer</a></li>
					<li><a href="page.html">Privacy policy</a></li>
				</ul>				  
			</div>
		</div>
		<div class="row">
			<div class="col payoff">
				<hr>
				<span class="copyright">Copyright EDMBASSY B.V. All rights reserved.</span>
				<span class="credits">Webdesign by <a href="http://locografix.nl/">Loco</a></span>
			</div>	
		</div>
		<div class="row">
			<div class="col">
				<ul class="social">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>