<section class="section gallery">
    <div class="container">
        <h3 class="h3 h3--big text-center">{{site.name}} Gallery</h3>
        <div class="gallery-wrapper">
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://dummyimage.com/800x600/aaa/fff" class="gallery-img b-lazy">
                </a>
            </div>
        </div>
    </div>
</section>