<section class="section gallery">
    <div class="container">
        <h3 class="h3 h3--big text-center">{{site.name}} Gallery</h3>
        <div class="gallery-wrapper">
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
            <div class="gallery-item">
                <a data-fancybox="gallery" href="https://loremflickr.com/1200/900" class="gallery-link">
                    <img src="https://loremflickr.com/400/300" class="gallery-img">
                </a>
            </div>
        </div>
    </div>
</section>