<header class="header">
	<div class="container">
		<a href="homepage.html" class="logo"><img src="assets/img/logo.svg" alt=""></a>
		<nav class="mainnav">
			<div class="booking">
				<div class="booking-info toggle-yourbooking">
					<span class="booking-cart">My booking</span>
					<span class="booking-amount">&euro; 299,00</span>
				</div>
				<button class="hamburger toggle-subnav"></button>
			</div>
			
		</nav>
	</div>

	<div class="notification">
		<div class="container">
			<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
			2x double room added <span>&euro; 299</span>
		</div>
	</div>
</header>

<nav class="subnav" id="subnav">
	<ul class="subnav-list">
		<li><a href="homepage.html">Festivals</a></li>
		<li>
			Accomodations
			<ul>
				<li><a href="step1-hotels.html">Hotel+Ticket</a></li>
				<li><a href="step1-packages.html">Packages</a></li>
				<li><a href="step1-camping.html">Campsite</a></li>
			</ul>
		</li>
		<li><a href="#">Tell me more</a></li>
		<li><a href="#">Why book</a></li>
		<li><a href="#">Login</a></li>
	</ul>

	<ul class="social">
		<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	</ul>
</nav>

{{> yourbooking }}