<header class="header">
	<div class="container">
		<nav class="mainnav">
			<a href="#" class="logo"><img src="assets/img/logo-edmbassy.svg" alt=""></a>
			<div class="booking">
				<div class="booking-info">
					<span class="booking-cart">My booking</span>
					<span class="booking-amount">&euro; 299,00</span>
				</div>
				<button class="hamburger toggle-subnav"><i class="fa fa-bars" aria-hidden="true"></i></button>
			</div>
		</nav>
	</div>
</header>

<nav class="subnav" id="subnav">
	<ul>
		<li>
			Accomodations
			<ul>
				<li><a href="#">Hotel+Ticket</a></li>
				<li><a href="#">Packages</a></li>
				<li><a href="#">Campsite</a></li>
			</ul>
		</li>
		<li><a href="#">Tell me more</a></li>
		<li><a href="#">Why book</a></li>
		<li><a href="#">Login</a></li>
	</ul>
</nav>