<div class="hero hero--white" style="background-image: url(assets/img/{{site.theme}}/hero.png)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<h1>
						{{site.herotitle}}
						<small>{{site.herosubtitle}}</small>
					</h1>
					<a href="whybook.html" class="button button-secondary">Why EDMBOOKING</a>
				</div>
			</div>
		</div>
	</div>
</div>