<div class="hero hero--white" style="background-image: url(assets/img/{{site.theme}}/hero.jpg)">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="hero-event-title">
                        {{site.herotitle}}
                        {{!-- <small>{{site.herosubtitle}}</small> --}}
                    </h1>
                    <h2 class="hero-subtitle">{{site.herosubtitle}}</h2>
                    <div class="eventselector eventselector--location">
                        <div class="eventselector-bed"></div>
                        <div class="eventselector-location">
                            <input id="basics" placeholder="Search festival or city" />
                        </div>
                        <div class="eventselector-spacer"></div>
                        <div class="t-datepicker t-datepicker-small">
                            <div class="t-check-in t-check-in--small "></div>
                            <div class="t-check-out t-check-out--small "></div>
                        </div>
                        <div class="eventselector-persons"></div>
                        <select class="eventselector-select">
                            <option>1</option>
                            <option selected="selected">2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select>
                        <button type="submit" class="eventselector-submit eventselector-submit--location"></button>
                    </div>
                    <!-- <button class="button button-secondary scrollTo" data-target="#cases">View cases</button> -->
                </div>
            </div>
        </div>
    </div>
</div>