<div class="hero hero--blue" style="background-image: url(assets/img/hero.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Why book with EDMbassy</h1>
					<p>We have the best hotel &amp; ticket prices</p>
					<a href="#" class="button button-secondary">More info</a>
				</div>
			</div>
		</div>
	</div>
</div>