<div class="hero hero--white" style="background-image: url(assets/img/hero-jet.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<h1>
						Unite with EDMBOOKING
						<small>Get your tickets & hotel for the best dance events and festivals around the globe.</small>
					</h1>
					<a href="whybook.html" class="button button-secondary button-secondary--inverted">Why EDMBOOKING</a>
				</div>
			</div>
		</div>
	</div>
</div>