<div class="hero hero--white" style="background-image: url(assets/img/hero.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Unite with EDMbassy</h1>
					<p>Book, stay and experience EDM around the globe.</p>
					<a href="whybook.html" class="button button-secondary button-secondary--inverted">Why EDMBASSY</a>
				</div>
			</div>
		</div>
	</div>
	<div class="videowrapper">
        <div id="hero-video" class="videoplayer"></div>
    </div>
</div>