<div class="hero hero--white hero-fullscreen" style="background-image: url(assets/img/{{site.theme}}/hero.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<h1>
						{{site.herotitle}}	
						<small>{{site.herosubtitle}}</small>
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="hero-buttons">
						<a href="/event-landing-sensation.html" class="button button-hero">
							<div class="first-line">Mexico City</div>
							<div class="second-line">12 may</div>
						</a>
						<a href="/event-landing-sensation.html" class="button button-hero">
							<div class="first-line">Singapore</div>
							<div class="second-line">18 May</div>
						</a>
						<a href="/event-landing-sensation.html" class="button button-hero">
							<div class="first-line">Bangkok</div>
							<div class="second-line">17 Oct</div>
						</a>
						<a href="/event-landing-sensation.html" class="button button-hero">
							<div class="first-line">Madrid</div>
							<div class="second-line">3 nov</div>
						</a>
						<a href="/event-landing-sensation.html" class="button button-hero">
							<div class="first-line">Mexico City</div>
							<div class="second-line">12 may</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>