<div class="hero hero--white" style="background-image: url(assets/img/hero.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Unite with EDMbassy</h1>
					<p>Book, stay and experience your festivals around the globe.</p>
					<a href="#" class="button button-secondary">More info</a>
				</div>
			</div>
		</div>
	</div>
</div>