<nav>
	<a href="#" class="logo"><img src="assets/img/logo-edmbassy.svg" alt=""></a>
	<div class="booking">
		<span class="booking-menu" data-method="toggle" data-target="">My booking</span>
		<span class="booking-amount">&euro; 299</span>
		<button class="hamburger"><img src="assets/img/burger.svg" alt=""></button>
	</div>
</nav>