<div class="offer">
	<div class="row">
		<div class="col-md-6 col-lg-3">
			<a href="#"><div class="img-container ratio-1-1"><img src="http://via.placeholder.com/600x600" alt="" class="img-fluid"></div></a>
		</div>
		<div class="col-md-6 col-lg-9">
			<div class="row">
				<div class="col-lg-9{{!--  offer-line --}}">
					<h3 class="offer-title">Travellers Garden Enjoy 4 Persons</h3>
					<p class="offer-subheader">Pre-set up tent incl. air mattresses, sleeping bags, pillows, solar light</p>
					<ul class="offer-list">
						<li>Tipi for 9 persons</li>
						<li>9 Single stretchers including sleeping bags and pillows</li>
						<li>Table with stools</li>
						<li>A spot on our campsite</li>
						<li>3 Night stay</li>
						<li>Exclusive pre-party on Thursday</li>
						<li>New Horizons welcome package</li>
						<li>1 Parking ticket for Royal Garden parking</li>
					</ul>
				</div>
				<div class="col-lg-3">
					<div class="offer-info">
						<span class="offer-price">&euro; 299</span>
						<span class="offer-price-condition">Price per person</span>
						<a href="#" class="button button-primary">more info</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>