<div class="room">
	<div class="row">
		<div class="col room-content">
			<h3 class="h3 h3--textcolor">Premier kamer, 1 kingsize bed</h3>
			<div class="room-info">
				<p class="p">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			</div>
			<button class="readmore d-none d-md-inline-block"><i class="fa fa-plus" aria-hidden="true"></i> Read more</button>
		</div>
		<div class="col-md-4 col-lg-3">
			<div class="offer-info room-price">
				<div class="offer-price">&euro; 299</div>
				<div class="offer-price-condition">Total room price</div>
			</div>
			<a href="#" class="button button-primary">Book your stay</a>
		</div>
	</div>
</div>