
<div class="col-6 col-lg-3">
	<div class="form-group">
		<label class="form-label">Check in</label>
		<div class="input-group date">
			<input type="date" class="form-control" value="2018-05-14">
			{{!-- <div class="input-group-addon">
				<span class="glyphicon glyphicon-th"><i class="fa fa-calendar" aria-hidden="true"></i></span>
			</div> --}}
		</div>
	</div>
</div>
<div class="col-6 col-lg-3">
	<div class="form-group">
		<label class="form-label">Check out</label>
		<div class="input-group date">
			<input type="date" class="form-control" placeholder="Arrival date" value="2018-05-18">
			{{!-- <div class="input-group-addon">
				<span class="glyphicon glyphicon-th"><i class="fa fa-calendar" aria-hidden="true"></i></span>
			</div> --}}
		</div>
	</div>
</div>
<div class="col-6 col-lg-1">
	<div class="form-group">
		<label class="form-label" for="room">Guests</label>
		<span class="guests">2</span>
	</div>
</div>
<div class="col-6  col-lg-3">
	<div class="form-group">
		<label class="form-label" for="room">Select room type</label>
		<select class="form-control" id="room">
			<option selected="">2 x double room</option>
			<option>2 x double room</option>
			<option>2 x double room</option>
			<option>2 x double room</option>
			<option>2 x double room</option>
		</select>
	</div>
</div>
<div class="col-12 col-lg-2">
	<div class="form-group">
		<label class="form-label d-none d-lg-block">&nbsp;</label>
		<button class="button button-primary button--block">Search</button>
	</div>
</div>


