<section class="section testimonials text-center">
	<div class="container-fluid">
		<h4 class="testimonials-h4">What edmbassadors say</h4>
		<div class="owl-carousel owl-theme owl-reviews">
			<div class="item">
				<div class="container">
					<div class="testimonials-item">
						<p class="testimonials-title">The trip was fantastic. Hotel was even better than I expected</p>
						<span class="testimonials-author">Jurgen van Zachten, The Netherlands</span>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="testimonials-item">
						<p class="testimonials-title">Great service from EDMbassy</p>
						<span class="testimonials-author">Tom Ford, United Kingdom</span>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="testimonials-item">
						<p class="testimonials-title">We are coming back next year!</p>
						<span class="testimonials-author">Jullie Peters, South Africa</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>