<h3 class="extras">Tickets<small>Some text goes here</small></h3>

<ul class="extra">
	<li class="extra-listitem" data-type="hovertoggle" data-target="#ticket-1">
		<div class="extra-item">
			<div class="extra-title">
				<i class="fa fa-ticket" aria-hidden="true"></i>Regular Ticket
			</div>
			<div class="extra-price">&euro;100</div>
			<div class="extra-add">
				<div class="extra-number">
					<button class="manage-button minus">-</button>
					<div class="extra-number-items">2</div>
					<button class="manage-button plus">+</button>
				</div>
			</div>
		</div>
		<div class="extra-details" id="ticket-1">
			<div class="row">
				<div class="col">
					<ul>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li class="extra-listitem" data-type="hovertoggle" data-target="#ticket-2">
		<div class="extra-item">
			<div class="extra-title">
				<i class="fa fa-ticket" aria-hidden="true"></i>Family Ticket
			</div>
			<div class="extra-price">&euro;200</div>
			<div class="extra-add">
				<div class="extra-number">
					<button class="manage-button minus">-</button>
					<div class="extra-number-items">2</div>
					<button class="manage-button plus">+</button>
				</div>
			</div>
		</div>
		<div class="extra-details" id="ticket-2">
			<div class="row">
				<div class="col">
					<ul>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li class="extra-listitem" data-type="hovertoggle" data-target="#ticket-3">
		<div class="extra-item">
			<div class="extra-title">
				<i class="fa fa-ticket" aria-hidden="true"></i>Vip Ticket
			</div>
			<div class="extra-price">&euro;300</div>
			<div class="extra-add">
				<div class="extra-number">
					<button class="manage-button minus">-</button>
					<div class="extra-number-items">2</div>
					<button class="manage-button plus">+</button>
				</div>
			</div>
		</div>
		<div class="extra-details" id="ticket-3">
			<div class="row">
				<div class="col">
					<ul>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
						<li>Some text goes here</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
</ul>
{{!-- <div class="col-md-6 col-lg-5 tickets">
	<div class="form-group">
		<label class="form-label" for="tickets">Ticket type</label>
		<select class="form-control" id="tickets">
			<option selected="">Select your ticket(s)</option>
			<option>Family Ticket €35 (including €5 ticket fee)</option>
			<option>Regular Ticket €55 (including €5 ticket fee)</option>
			<option>Early Bird Ticket €25 (including €5 ticket fee)</option>
		</select>
	</div>
	<img src="assets/img/{{site.theme}}/rolling.gif" alt="" width="20" class="rolling">
	<ul>
		<li><strong>Some text goes here</strong></li>
		<li><a href="#">Ticket information</a></li>
		<li>Separated they live in Bookmarksgrove</li>
	</ul>
</div>
<div class="col-md-6 col-lg-5 tickets">
	<div class="form-group">
		<label class="form-label" for="persons">Number of persons</label>
		<select class="form-control" id="persons">
			<option selected="">Select number of tickets</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
		</select>
	</div>
	<img src="assets/img/{{site.theme}}/rolling.gif" alt="" width="20" class="rolling">
	<ul>
		<li><strong>Some text goes here</strong></li>
		<li>Far far away, behind the word mountains</li>
		<li>Lorem ipsum dolor sit amet</li>
	</ul>
</div>
<div class="col-lg-2 tickets">
	<div class="form-group">
		<label class="form-label">Add to my booking</label>
		<button class="button button-primary">Let's go</button>
	</div>
</div> --}}