<div class="yourbooking">
	<div class="container">
		<h3>Your booking</h3>
		<table class="yourbooking-summary">
			<tbody>
				<tr>
					<td class="description">Ticket</td>
					<td class="content">2x Premium ticket</td>
					<td class="amount">&euro; 150,00</td>
					<td class="remove"><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></td>
				</tr>
				<tr class="bookingrow">
					<td colspan="4">
						<hr>
					</td>
				</tr>
				<tr>
					<td class="description">Accomodation</td>
					<td class="content">Ibis Amsterdam Hotel</td>
					<td class="amount"></td>
					<td class="remove"></td>
				</tr>
				<tr>
					<td class="description">Arrival date</td>
					<td class="content">22-12-2018</td>
					<td class="amount"></td>
					<td class="remove"></td>
				</tr>
				<tr>
					<td class="description">Departure date</td>
					<td class="content">25-12-2018</td>
					<td class="amount"></td>
					<td class="remove"></td>
				</tr>
				<tr>
					<td class="description">Room 1</td>
					<td class="content">Presidential Suite, 3 persons, 3 nights</td>
					<td class="amount">&euro; 2.250,00</td>
					<td class="remove"><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></td>
				</tr>
				<tr>
					<td class="description">Room 2</td>
					<td class="content">Standard Double, 2 persons, 3 nights</td>
					<td class="amount">&euro; 2.250,00</td>
					<td class="remove"><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></td>
				</tr>
				<tr class="bookingrow">
					<td colspan="4">
						<hr>
					</td>
				</tr>
				<tr>
					<td class="description">Extra</td>
					<td class="content">
						<ul>
							<li>Safari tour</li>
							<li>Limousine Transfer</li>
						</ul>
					</td>
					<td class="amount">
						<ul>
							<li>&euro; 150,00</li>
							<li>&euro; 150,00</li>
						</ul>
					</td>
					<td class="remove">
						<ul>
							<li><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></li>
							<li><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></li>
						</ul>
						
					</td>
				</tr>
				<tr class="bookingrow">
					<td colspan="4">
						<hr>
					</td>
				</tr>
				<tr>
					<td class="total" colspan="2">Total price</td>
					<td class="total text-right" colspan="2">
						&euro; 3.456,00
					</td>
				</tr>
			</tbody>
		</table>




	</div>
</div>