<div class="yourbooking">
	<div class="container">
		<button class="yourbooking-close toggle-yourbooking">
			<svg width="96px" height="96px" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="cross-remove-sign" fill="#fff" fill-rule="nonzero">
		            <path d="M62.819,47.97 L95.352,15.436 C96.133,14.655 96.133,13.389 95.352,12.608 L83.333,0.586 C82.958,0.211 82.448,0 81.919,0 C81.389,0 80.88,0.211 80.505,0.586 L47.97,33.121 L15.435,0.586 C14.685,-0.164 13.357,-0.164 12.607,0.586 L0.587,12.608 C-0.194,13.389 -0.194,14.655 0.587,15.436 L33.121,47.97 L0.587,80.504 C-0.194,81.285 -0.194,82.551 0.587,83.332 L12.607,95.353 C12.982,95.728 13.491,95.939 14.021,95.939 C14.551,95.939 15.06,95.728 15.435,95.353 L47.97,62.818 L80.505,95.353 C80.88,95.728 81.389,95.939 81.919,95.939 C82.448,95.939 82.958,95.728 83.333,95.353 L95.353,83.332 C96.134,82.551 96.134,81.284 95.353,80.504 L62.819,47.97 Z" id="Shape"></path>
		        </g>
		    </g>
		</svg>
		</button>
		<h3>My booking</h3>

		<div class="state-empty d-none">
			<div class="row">
				<div class="col col-md-9">
					<p class="p">My booking is empty. Please select your favorite event and book an awesome package.
Already booked with EDMBOOKING? Go to our login page to view your booking.</p>
				</div>
				<div class="col-12 col-md-3 text-right">
					<a href="login.html" class="button button-primary">Log in</a>
				</div>
			</div>
		</div>

		<div class="state-filled">
			<table class="yourbooking-summary">
				<tbody>
					<tr>
						<td class="description">Ticket</td>
						<td class="content">2x Premium ticket</td>
						<td class="amount">&euro;150,00</td>
						<td class="remove"><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></td>
					</tr>
					<tr class="bookingrow">
						<td colspan="4">
							<hr>
						</td>
					</tr>
					<tr>
						<td class="description">Accomodation</td>
						<td class="content">Ibis Amsterdam Hotel</td>
						<td class="amount"></td>
						<td class="remove"></td>
					</tr>
					<tr>
						<td class="description">Arrival date</td>
						<td class="content">22-12-2018</td>
						<td class="amount"></td>
						<td class="remove"></td>
					</tr>
					<tr>
						<td class="description">Departure date</td>
						<td class="content">25-12-2018</td>
						<td class="amount"></td>
						<td class="remove"></td>
					</tr>
					<tr>
						<td class="description">Room 1</td>
						<td class="content">Presidential Suite, 3 persons, 3 nights</td>
						<td class="amount">&euro;2.250,00</td>
						<td class="remove"><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></td>
					</tr>
					<tr>
						<td class="description">Room 2</td>
						<td class="content">Standard Double, 2 persons, 3 nights</td>
						<td class="amount">&euro;2.250,00</td>
						<td class="remove"><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></td>
					</tr>
					<tr class="bookingrow">
						<td colspan="4">
							<hr>
						</td>
					</tr>
					<tr>
						<td class="description">Extra</td>
						<td class="content">
							<ul>
								<li>Safari tour</li>
								<li>Limousine Transfer</li>
							</ul>
						</td>
						<td class="amount">
							<ul>
								<li>&euro;150,00</li>
								<li>&euro;150,00</li>
							</ul>
						</td>
						<td class="remove">
							<ul>
								<li><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></li>
								<li><button class="remove"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></button></li>
							</ul>

						</td>
					</tr>
					<tr class="bookingrow">
						<td colspan="4">
							<hr>
						</td>
					</tr>
					<tr>
						<td class="total" colspan="2">Total price</td>
						<td class="total text-right" colspan="2">
							&euro;3.456,00
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<a href="#" class="m-t-30 d-block toggle-cart">Toggle state</a>

	</div>
</div>