.eventselector {
    text-align: left;
    background: #fff;
    width: 95vw;
    max-width: 750px;
    border-radius: 30px 30px 30px 30px;
    margin: 0 auto;
    // height: 100px;
    position: relative;
    padding: 4px 0 0px 15px;
    color: $form-input-color;


    @media all and(max-width: $breakpoint-tablet) {
        max-width: 550px;
    }

    @media all and(max-width: $breakpoint-mobile) {
        width: 90vw;
    }

    @media all and(max-width: $breakpoint-xsmall) {
        max-width: 300px;
        width: 100vw;
        left: -5px;
    }

    &--location {
        @media all and(max-width: $breakpoint-mobile) {
            border-radius: 15px;
        }
    }


    &-spacer {
        display: none;

        @media all and(max-width: $breakpoint-mobile) {
            display: block;
            height: 1px;
            background: #E7E7E9;
            width: calc(100% - 67px);
            clear: both;
            position: absolute;
            top: 42px;
        }

    }

    &-location {
        display: inline-block;
        height: 44px;
        // background: red;
        margin: 0;
        width: 100%;
        max-width: calc(30% - 20px);

        @media all and(max-width: $breakpoint-mobile) {
            max-width: 80%;
            // display: block;
            // background: red;
            clear: both;
            // border-bottom: 1px solid #E7E7E9;
        }

        // border: 1px solid red;
        // background: red;
        vertical-align: top;

        & .easy-autocomplete input {
            border: none !important;
            border-radius: 0px !important;
            background: transparent !important;
            height: 44px !important;
            padding: 12px 12px 12px 4px !important;

            @media all and(max-width: $breakpoint-tablet) {
                font-size: 13px !important;
                height: 38px !important;
            }

            @media all and(max-width: $breakpoint-xsmall) {
                font-size: 12px !important;
            }


            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: $form-input-color !important;
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: $form-input-color !important;
            }

            &:-ms-input-placeholder {
                /* IE 10+ */
                color: $form-input-color !important;
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                color: $form-input-color !important;
            }
        }
    }


    &-hotelspage{
        border: $form-border;
        background: #fff;
        padding: 0 0 0 12px;
        height: 46px !important;
        // background: yellow;
        display: block;

        & .easy-autocomplete{
            width: auto !important;
        }

        & .easy-autocomplete input{
            display: block;
             width: 100% !important;
             // background: red !important;
        }

        & .eventselector-location{
            max-width: calc(100% - 40px) !important;
        }

        & .easy-autocomplete-container{
            z-index: 999;
        }

        & .easy-autocomplete-container ul{
            border: $form-border;



             @media all and(max-width: $breakpoint-tablet) {
                top: 7px !important;
                width: calc(100vw - 30px) !important;
                left: -32px !important;
                max-width: 690px !important;
            }
        }
    }

    & .t-datepicker {
        display: inline-block;
        position: relative;
        max-width: 75%;

        @media all and(max-width: $breakpoint-mobile) {
            max-width: 70%;
        }

        &-small {
            max-width: 50%;

            // @media all and(max-width: $breakpoint-tablet) {
            //     max-width: 40%;
            // }

            @media all and(max-width: $breakpoint-mobile) {
                max-width: 70%;
                left: -12px;
            }
        }


    }

    & .t-check-in,
    .t-check-out {
        border: none;
        // float: none;
        background: transparent;
        margin: 0;
        display: inline-block;
        width: 50%;
        // background: #fff !important;
        // color: #000 !important;
        border-radius: 0px !important;

        &--small {
            // width: 100%;
            // border-left: 1px solid #E7E7E9 !important;
            // border-right: 1px solid #E7E7E9 !important;
        }


        // display: block;

    }

    & .t-check-in--small {
        border-left: 1px solid #E7E7E9 !important;

        @media all and(max-width: $breakpoint-mobile) {
            border-left: none !important;
        }

    }



    & .t-check-out {
        border-left: 1px solid #E7E7E9 !important;
        border-right: 1px solid #E7E7E9 !important;
    }

    & .selectric {
        border: none;
        margin: 0 !important;
        // background: red;
        top: 0;
        display: inline-block;


        @media all and(max-width: $breakpoint-tablet) {
            position: relative;
            top: 4px;
        }

        & .label{
            @media all and( max-width: $breakpoint-tablet){
                font-size: 13px !important;
            }

            @media all and(max-width: $breakpoint-xsmall) {
                font-size: 12px !important;
            }
        }


    }

    & .button-selectric {
        display: none;
    }

    & .selectric-wrapper {
        display: inline-block;
        width: 45px;
        position: absolute;
        top: 4px;
        height: 44px;


        & .selectric {
            width: 45px;
            // background: red;

            & .label {
                margin-right: 0px;
            }
        }




        @media all and(max-width: $breakpoint-tablet) {
            position: absolute;
            top: 0px;
            bottom: 0px;
        }


    }

    & .selectric-eventselector-select {
        @media all and(max-width: $breakpoint-mobile) {
            position: absolute;
            top: 44px;
            bottom: 0px;
        }
    }

    & .selectric-items {
        top: calc(100% + 4px);
        border: none;
        max-width: 45px;
    }

    &-submit {
        // background: red;
        // height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0px 30px 30px 0px;
        bottom: 0;
        background: $link-color url(../img/#{$folder}/search.svg) no-repeat center center;
        background-size: 20px auto;

        @media all and(max-width: $breakpoint-tablet) {
            background-size: 15px;
        }

        @media all and(max-width: $breakpoint-mobile) {
            width: 40px;
        }

        &--location {
            @media all and(max-width: $breakpoint-mobile) {
                border-radius: 0px 15px 15px 0px;
            }
        }
    }



    &-persons {
        width: 20px;
        height: 44px;
        margin-left: 10px;

        background: transparent url("../img/#{$folder}/user.svg") no-repeat center center scroll;
        background-size: contain;
        display: inline-block;

        @media all and(max-width: $breakpoint-tablet) {
            height: 38px;
            width: 15px;
        }

        @media all and(max-width: $breakpoint-mobile) {
            margin-left: -2px;
        }

    }

    &-bed {
        width: 20px;
        height: 44px;
        background: transparent url("../img/#{$folder}/bed.svg") no-repeat center center scroll;
        background-size: contain;
        display: inline-block;

        @media all and(max-width: $breakpoint-tablet) {
            height: 38px;
            width: 15px;
        }

        @media all and(max-width: $breakpoint-mobile) {}

    }
}