footer{
	background-color: $footer-bg;
	padding: 70px 0 0;
	color: $footer-text;
	border-top: $footer-border;


	&.gradient{
		@include gradient($link-color, #6cb5ff);
	}

	@media all and (max-width: $breakpoint-tablet){
		padding: 50px 0 0;
	}

	& h4{
		text-transform: uppercase;
		font-family: $font-header;
		color: $footer-heading;
		font-weight: 700;
		margin: 0 0 20px;
		font-size: $footer-heading-size;

		@media all and (max-width: $breakpoint-mobile){
			font-size: 24px;
			margin-bottom: 10px;
		}
	}

	& ul{
		list-style-type: none;
		padding: 0;
		margin: 0;

		& li{
			margin-bottom: 5px;
			@media all and (max-width: $breakpoint-tablet){
				font-size: 14px;
			}
			@media all and (max-width: $breakpoint-mobile){
				// font-size: 14px;
				// margin-bottom: 3px;
			}
		}
	}

	& span.icon{
		// background-color: red;
		width: 18px;
		margin-right: 7px;
		text-align: center;
		display: inline-block;
	}

	& a{
		color: $footer-link;

		&:hover{
			color: $footer-hover;
			// color: $footer-text;
			// text-decoration: underline !important;
		}
	}

	& .footer-col{
		margin-bottom: 30px;

		@media all and (max-width: $breakpoint-mobile){
			text-align: center;
			margin-bottom: 20px;
		}
	}

	& hr{
		height: 1px;
		border: none;
		background-color: rgba(0,0,0,.2);
		line-height: 0;
		margin: 0 0 30px;
	}

	& .copyright{


	}

	& .legals{
		@media all and (max-width: $breakpoint-tablet){
			display: block;
			margin-top: 10px;

			& a{
				display: block;
				padding: 5px 0;
			}
		}
	}

	& .credits{
		float: right;
	}

	.payoff{
		font-size: $footer-payoffsize;
		padding-top: 16px;

		& a{
			display: inline-block;
			margin-left: 10px;

			@media all and (max-width: $breakpoint-tablet){
				margin-left: 0px;
				display: block;
			}
		}

		@media all and (max-width: $breakpoint-tablet){

			text-align: center;

			& span{
				display: block;
				float: none;
			}
		}
	}

	& .language{

		vertical-align: middle;
		// float: right;
		margin-bottom: 20px;



		& .selectric-wrapper{
			width: 70%;
			display: block;
			margin: 0 auto 0;
			text-align: left;

			.selectric-items, .selectric-open .selectric, .selectric{
				border: 1px solid $footer-link !important;
			}

			.selectric-items li, .selectric-items ul{
				font-size: 13px;
				// color: $subnav-sublink;
			}
		}
	}
}

.social{
	list-style-type: none;
	margin-bottom: 10px;
	// margin-top: 30px;

	@media all and (max-width: $breakpoint-tablet){
		display: block;
		text-align: center;
	}

	& li{
		display: inline-block;
		vertical-align: middle;
		margin-right: 2px;

		& a{
			display: block;
			background-color: $footer-social-bg;
			color: $footer-social-color;
			border-radius: 100%;
			width: 34px;
			height: 34px;
			text-align: center;
			line-height: 36px;
			font-size: 16px;

			&:hover{
				background-color: $footer-social-hover;
				color: $footer-socialicon-hover;
			}
		}


	}
}

.footer-logos{
	// background-color: #fff;
	// padding: 50px 0;
	margin-top: 20px;

	@media all and(max-width: $breakpoint-mobile){
		// padding: 20px 0;
	}


	& ul{
		margin: 0;
		padding: 0;

		@media all and(max-width: $breakpoint-tablet){
			text-align: center;
		}
	}
	& li{
		list-style-type: none;
		display: inline-block;
		margin-right: 15px;
		text-align: center;

		& img{
			max-height: 20px;
			width: auto;
			// 	 -webkit-filter: grayscale(1);
			// filter: grayscale(1);
			@media all and(max-width: $breakpoint-mobile){
				max-height: 17px;
			}
		}
	}
}

.cookies{
	position: fixed;
	z-index: 99;
	bottom: 20px;
	left: 50%;
	width: 100%;
	max-width: 550px;
	padding: $cookies-padding;
	background-color: $cookies-bg;
	font-size: $cookies-fontsize;
	color: $cookies-color;
	border: $cookies-border;

	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);

	& a{
		color: $cookie-link-color;
	}
	@media all and(max-width: $breakpoint-tablet){


	}

	@media all and(max-width: $breakpoint-mobile){
		// max-width: 90%;
		font-size: $cookies-fontsize-mobile;
		padding: $cookies-padding-mobile;
		max-width: 100%;
		border: none;
		-ms-transform: translate(0%, 0);
		-webkit-transform: translate(0%, 0);
		transform: translate(0%, 0);
		bottom: 0px;
		border-top: 1px solid $cookies-color;
		left: 0px;
	}

	& button{
		padding: 5px;
		background-color: transparent;
		position: absolute;
		right: 20px;
		top: 20px;
		// top: 50%;
		// -ms-transform: translate(0, -50%);
		// -webkit-transform:  translate(0, -50%);
		// transform: translate(0, -50%);
		curspor: pointer;

		@media all and(max-width: $breakpoint-mobile){
		// right: 10px;
		// top: 10px;
	}


		& .icon{
			width: 30px;
			height: auto;
			@media all and(max-width: $breakpoint-mobile){
				width: 20px;
			}
		}

		& #cross-remove-sign{
			fill: $cookie-link-color;
		}



	}

	& p{
		margin: 0;
		line-height: 1.4;
	}

}

.partners{
	text-align: center;
	color: #fff;
	padding: 40px 0;
	background: $partner-bg;
	margin-top: 35px;
	font-size: 14px;
	font-weight: 400;
	font-family: $font-header;
	// background: red;
	text-transform: uppercase;
	& ul{
		margin: 25px 0 0;
		padding: 0;
		// display: inline-block;

		@media all and(max-width: $breakpoint-tablet){
			// display: block;
			// margin: 20px 0 0;
		}

	}
	& li{
		display: inline-block;
		margin: 0;
		padding: 0 20px;
		line-height: 0;

		@media all and(max-width: $breakpoint-tablet){
			padding: 0 10px;
		}
	}

	& a{
		display: block;
		line-height: 0px;
	}
	& img{
		max-height: 60px;
		margin: 0;

		@media all and(max-width: $breakpoint-tablet){
			max-height: 40px;
		}
	}
}

.footer-poweredby {
    font-size: 14px;
    margin-top: 15px;

    @media all and(max-width: $breakpoint-tablet) {
        display: block;
        text-align: center;
        margin-top: 30px;
    }



    & p {

        margin-bottom: 10px;
        display: block;
    }

    & .bookinglogo{
    	display: inline-block;
    	width: 120px;
        background: $footer-link;
        padding: 7px;
        border-radius: 2px;
    }

    & .iatalogo{
    	display: inline-block;
    	width: 52px;
    	margin-left: 15px;
    }

    &--header{
    	text-align: left !important;
    	margin-top: 20px !important;

    	color: $subnav-link;

    	& .bookinglogo{
    		background: none;
    		padding-left: 0px;
    	}
    }
}

.changeCSS{
	padding: 30px 0;
	background: #000;
	color: #fff;
	font-size: 16px;
	line-height: 1.3;
	font-family: 'Arial';

	& strong{
		text-transform: uppercase;
		margin-bottom: 10px;
		display: block;
	}

	& ul{
		margin: 0;
		padding: 0;
		list-style-type: none;

		& li{
			margin-bottom: 10px;
		}
	}

	& a{
		color: #fff;
		text-decoration: underline;
		display: inline-block;
	}
}