body,
html {
	height: 100%;
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
	/* lets it scroll lazy */
	cursor: default;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

// ::-moz-selection {
// 	/* Code for Firefox */
// 	color: #fff;
// 	background: $link-color;
// }

// ::selection {
// 	color: #fff;
// 	background: $link-color;
// }


body {
	background: $bg-color;
	color: $text-color;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	height: 100%;
	font-family: $font;
	font-size: $font-size;
	line-height: 1.2;
	position: relative;
	overflow-x: hidden;

	background-repeat: no-repeat;
	background-size: cover;
	@include gradient($bodygradient-fromcolor, $bodygradient-tocolor);
}

@media (min-width: 1200px) {
	.container {
		max-width: 1280px;
	}
}

.container {
	min-width: 320px;
}

h1,
h2,
h3,
h4 {
	font-family: $font-header;
}

a {
	color: $link-color;

	&:hover {
		color: $link-color;
	}
}

ol{
	margin: 0 0 20px;
	padding: 0 0 0 18px;
	list-style-position: outside;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	-webkit-transition: color .15s ease-out 0s, background .15s ease-out 0s;
	transition: color .15s ease-out 0s, background .15s ease-out 0s;
}

.text-link,
.page a {
	text-decoration: underline;
	color: $link-color;

	&:hover {
		color: $link-color;
		text-decoration: underline;
	}
}

.h1 {
	text-transform: $offer-title-transform;
	font-weight: 700;
	color: $link-color;
	font-size: 32px;
	margin: 0 0 5px;

	@media all and (max-width: $breakpoint-tablet) {
		font-size: 24px;
	}
	@media all and (max-width: $breakpoint-mobile) {
		font-size: 22px;
	}
}

.h1-404{
	font-size: 90px;
	color: $link-color;
	font-family: $font-header;
	font-weight: 400;
	margin-bottom: 30px;

	@media all and (max-width: $breakpoint-tablet) {
		font-size: 60px;
		margin-bottom: 10px;
	}
	@media all and (max-width: $breakpoint-mobile) {
		font-size: 30px;
		margin-bottom: 10px;
	}
}

.icon404{
	margin-bottom: 30px;
}
.icon404 #icon{
	fill: $link-color;
}

// .icon404{

//     #zero{
//         fill: $text-color;
//     }
// }
.page {

	& h4 {
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 5px; // color: $link-color;
	}

	& ul {
		margin: 20px 0 20px 18px;
		padding: 0;

		& li {
			margin-bottom: 5px;
		}
	}
}

.page-h1 {
	text-transform: uppercase;
	font-weight: 800;
	font-family: $font-header;
	color: $heading-color;
	margin: 0 0 30px;
	padding: 0 0 30px; // line-height: 1;
	border-bottom: 2px solid $border-color;
	font-size: 32px;

	@media all and (max-width: $breakpoint-tablet) {
		font-size: 36px;
	}
	@media all and (max-width: $breakpoint-mobile) {
		font-size: 24px;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
}

.h2 {
	color: $link-color;
	font-size: 20px; // margin-bottom: 20px;
	@media all and (max-width: $breakpoint-tablet) {
		// font-size: 24px;
	}
	@media all and (max-width: $breakpoint-mobile) {
		font-size: 16px; // margin-bottom: 10px;
	}

	&-section {
		color: $heading-color;
		font-family: $font-header;
		font-weight: 800;
		margin-bottom: 40px;
		text-transform: uppercase;
		font-size: 32px;

		@media all and (max-width: $breakpoint-tablet) {
			margin-bottom: 20px;
		}

		@media all and (max-width: $breakpoint-tablet) {
			font-size: 24px;
		}

		@media all and (max-width: $breakpoint-mobile) {
			font-size: 22px;
		}
	}
}

.h3 {
	text-transform: uppercase;
	font-weight: 700;
	color: $heading-color;
	font-family: $font-header;
	margin-bottom: 20px;
	font-size: $font-header-size;

	&--textcolor {
		color: $text-color;
	}

	&--lined {
		border-bottom: 2px solid $border-color;
		padding-bottom: 10px;
	}

	&--room {
		color: $link-color;
	}

	&--eventinfo {
		font-size: $font-header-size;
	}


	@media all and (max-width: $breakpoint-tablet) {}
	@media all and (max-width: $breakpoint-mobile) {
		font-size: 18px;
		margin-bottom: 10px;
	}

	&--big {
		font-size: 32px;
		font-weight: 900;
		margin-bottom: 30px;
		font-family: $font-header;

		& span {
			display: block;
			font-size: 16px;
			font-weight: 700;
			font-family: $font;
		}

		@media all and (max-width: $breakpoint-mobile) {
			font-size: 22px;
			margin-bottom: 15px;
		}
	}
}

h3.extras {
	font-size: 32px;
	padding: 15px 0;
	display: inline-block;
	font-family: $font-header;
	color: $heading-color;
	font-weight: 800;
	text-transform: uppercase;

	& small {
		display: block;
		font-size: 16px;
		font-family: $font;
		text-transform: none;
	}
	@media all and (max-width: $breakpoint-mobile) {
		font-size: 17px;
	}
}

.p {
	line-height: 1.6; // @media all and (max-width: $breakpoint-mobile){
	//  font-size: 14px;
	//  line-height: 1.4;
	// }
	& ul {
		padding: 0;
		margin: 20px 0 20px 18px;
	}
}

.bullet-list{
	margin: 20px 0px 20px 18px;
	padding: 0;
	line-height: 1.6;
}

.h4 {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: $heading-color;
}

.h5 {
	font-weight: 500 !important;
	font-size: 18px !important;
	text-transform: none !important;
	margin-bottom: 30px !important;
	color: $heading-color !important;
	font-family: $font !important;
}

.hr {
	height: 1px;
	background: $border-color;
	line-height: 0;
	border: none;
	margin: 30px 0;
}

.testimonials-h4 {
	text-transform: uppercase;
	font-size: 20px;
	font-family: $font;
	font-weight: 800; // letter-spacing: 1px;
	margin: 0 0 30px;

	@media all and (max-width: $breakpoint-mobile) {
		font-size: 14px;
	}
}

.testimonials {
	background: $testimonial-bg;
	color: $testimonial-text;

	@media all and (max-width: $breakpoint-tablet) {
		background-attachment: scroll;
	}

	&-item {
		max-width: 970px;
		margin: 0 auto;
	}
	&-title {
		font-family: $font-header;
		color: $testimonial-title;
		text-transform: uppercase;
		font-weight: 800;
		font-size: $testimonial-title-size;
		line-height: 1;
		margin: 0 0 30px;

		@media all and (max-width: $breakpoint-tablet) {
			font-size: 32px;
		}
		@media all and (max-width: $breakpoint-tablet) {
			font-size: 24px;
		}
	}

	&-author {
		margin: 0 0 30px;
		display: block;
		font-size: 14px;
		line-height: 1.2;
		color: $testimonial-author; // text-transform: uppercase;
	}

	& .owl-theme .owl-dots .owl-dot.active span,
	& .owl-theme .owl-dots .owl-dot:hover span {
		background: $testimonial-activedot;
	}

	& .owl-theme .owl-dots .owl-dot span {
		background: $testimonial-inactivedot;
	}
}

.rolling {
	margin: 10px;
}


$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: $notication-icons;
	fill: none;
	animation: stroke .6s $curve forwards;
}

.checkmark {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline;
	position: relative;
	stroke-width: 2;
	stroke: $notification-bg;
	stroke-miterlimit: 10;
	margin: 0 10px 0 0;
	line-height: 0;
	vertical-align: middle;
	box-shadow: inset 0px 0px 0px $notication-icons;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;

	@media all and (max-width: $breakpoint-mobile) {
		width: 20px;
		height: 20px; // line-height: $header-height-mobile;
	}
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke .3s $curve .8s forwards;
}

.checkmark__cross {
	stroke: none;
	fill: none;
	animation: cross .4s ease-in-out .8s forwards;
}

@keyframes cross {
	100% {
		fill: $notification-bg;
	}
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px $notication-icons;
	}
}

.checkmark-succes {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline;
	position: relative;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 0 10px 0 0;
	line-height: 0;
	vertical-align: middle;
	box-shadow: inset 0px 0px 0px green;
	animation: fill2 .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__succes {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}


.error-icon {
	width: 120px;
	margin-bottom: 30px;

	& #error {
		fill: $error-color;
	}


	@media (max-width: $breakpoint-mobile) {
		width: 75px;
	}
}

.succes-color{
	fill: $link-color;
	stroke: $link-color;
}

.succes {
	// background: rgba(0,0,0,0.8);
	padding: 50px;
	border-radius: 8px;
	text-align: center;

	& .animated-svg{
		width: 150px;
		margin: 0 auto;
		display: inline-block;
		margin-bottom: 30px;
	}

	& h3 {
		color: $heading-color;
		font-weight: 900;
	}

	@media (max-width: $breakpoint-mobile) {
		padding: 30px;
		font-size: 13px;
	}

	&-icon {
		width: 120px;
		margin-bottom: 30px;

		& #circle {
			fill: $link-color;
		}

		& #check {
			stroke: $link-color;
		}

		@media (max-width: $breakpoint-mobile) {
			width: 75px;
		}
	}

	&-message{
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		margin-bottom: 20px;
	}

	& table {


		padding: 0;
		width: auto;
		display: table;
		// background-color: red;
		margin: 20px auto 20px auto;

		// &:before{
		// 	content: "";
		// 	width: 100%;
		// 	height: 2px;
		// 	background-color: yellow;
		// 	display: block;
		// }

		& tbody {
			// margin: 20px 0;
			display: block; // background: red;
		}


		& td {
			text-align: left;
			padding: 5px 20px 5px 20px;
			white-space: nowrap;

			&:first-child {
				font-weight: 800;
				// width: 130px !important;
			}

			@media (max-width: $breakpoint-mobile) {

				// padding: 10px 5px;
			}
		}

		& .type {
			// text-align: right;
		}
	}
}

.my-package {
	color: $link-color;
	font-size: 22px; // font-weight: 600;
	& .form-label {
		color: $link-color;
	}

	@media (max-width: $breakpoint-mobile) {

		font-size: 16px;
	}
	&-total {
		border-top: 1px solid $link-color; // font-size: 22px;
		font-weight: 800;
		text-transform: uppercase;
		margin: 15px 0 0 0;
		padding: 15px 0 0 0;

		@media (max-width: $breakpoint-mobile) {

			font-size: 16px;
			margin-bottom: 15px;
		}
	}
}

.modal-content {
	color: #000;
}

.myBooking {


	&-header {
		background: #e6e6e6;
		padding: 15px 20px;
		font-family: $font-header;
		font-weight: 800;
		text-transform: uppercase; // text-align: right;
		font-size: 14px;
		display: block;
		white-space: nowrap;

		& span {
			display: inline-block;
			margin-top: 8px;
			@media all and(max-width: $breakpoint-mobile) {
				margin-top: 2px;
			}
		}

		& img {
			width: 200px;
			@media all and(max-width: $breakpoint-mobile) {
				width: 100px;
			}
		}
	}

	& a {
		text-decoration: underline;
	}

	&-hero {
		background-color: #419bf7;
		text-align: center;
		padding: 100px 0px;
		position: relative;
		color: #fff;

		& .hero-title {
			font-family: $font-header;
			font-weight: 800;
			text-transform: uppercase;
			color: #fff;
			font-size: 90px;
			line-height: 40px;
			margin: 0 0 30px 0;
			letter-spacing: 1px;

			@media all and(max-width: $breakpoint-tablet) {
				font-size: 60px;
				margin: 0 0 15px 0;
				line-height: auto;
			}
			@media all and(max-width: $breakpoint-mobile) {
				font-size: 36px;
				margin: 0 0 5px 0;
			}
		}
		& .hero-subtitle {
			color: #fff;
			margin: 0 0 0 0;
			font-size: 40px;
			text-transform: uppercase;

			@media all and(max-width: $breakpoint-tablet) {
				font-size: 27px;
			}
			@media all and(max-width: $breakpoint-mobile) {
				font-size: 18px;
			}
		}

		& .inner {
			position: relative;
			z-index: 10;
		}

		& .hero-background {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top left;
			z-index: 1;
			background-blend-mode: multiply;
			background-color: $blue-filter;
		}
	}

	&-h1 {
		font-size: 18px;
		font-weight: 700; // margin-top: 20px;
		margin-bottom: 20px;
	}

	& .content {
		padding: 20px 0;
		margin-bottom: 30px;
		border-bottom: 1px solid $border-color;
	}

	& .rule {
		height: 2px;
		background: #000;
	}


	& h3 {
		// background: #000;
		color: $heading-color; // padding: 0 20px;
		font-family: $font-header;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 17px;
		margin: 0;
	}

	& table {
		width: 100%;
		border: none;
		display: table;


		& td {
			// font-family: 'Roboto', sans-serif;
			font-size: 15px;
			line-height: 21px;
			padding: 3px 0;
			vertical-align: top;
			width: auto;

			&:first-child {
				width: 300px !important; // background: yellow;
				@media all and(max-width: $breakpoint-mobile) {
					width: 150px !important;
				}
			}

			&.price {
				width: auto;
			}
		}

		&.total td {
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 800;

			@media all and(max-width: $breakpoint-mobile) {
				font-size: 18px;
			} // padding-bottom: 60px;
		}

		& .newprice{
			padding-top: 20px;
		}

		& .smalltext{


			& td{
				font-weight: 400;
				text-transform: none;
				font-size: 20px;
				padding: 10px 0;
				border-bottom: 1px solid $border-color;
				margin-bottom: 10px;
			}
		}

		& a {
			font-weight: 800;
		}
	}
}

#output {
	font-family: $font-header;
	font-weight: 900;
	font-size: 120px;
}

.animatelogo {
	font-family: $font-header;
	font-weight: 900;
	font-size: 120px; // background: red;
	overflow: hidden;
	height: 120px;
	line-height: 0px;

	& .wrapper {
		// background: blue;
		position: relative;
		top: -15px;
		height: 110px;
		overflow: hidden;
	}
}

.odometer {
	position: relative;
	top: -12px;
}

.edmloader {
	color: $link-color;
	text-align: center;
	font-weight: 600; // padding-top: 50px;
	// padding-bottom: 50px;
	text-transform: uppercase;

	@media all and(max-width: $breakpoint-mobile) {
		font-size: 14px;
	}
}

.myloader {
	width: 160px;
	height: 160px;
	margin-bottom: 15px;

	@media all and(max-width: $breakpoint-tablet) {
		width: 100px;
		height: 100px;
	}

	@media all and(max-width: $breakpoint-mobile) {
		width: 60px;
		height: 60px;
	}
}

.myloader #pause {
	// animation:hue 4s linear infinite;
	fill: $link-color;
}

.myloader circle {
	stroke-dasharray: 10, 84;
	animation: stroke 1.5s ease infinite;
	stroke: $link-color;
}

@keyframes stroke {
	50% {
		stroke-dasharray: 84, 10;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -94;
	}
}

@-webkit-keyframes stroke {
	50% {
		stroke-dasharray: 84, 10;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -94;
	}
}

@-moz-keyframes stroke {
	50% {
		stroke-dasharray: 84, 10;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -94;
	}
}

@-o-keyframes stroke {
	50% {
		stroke-dasharray: 84, 10;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -94;
	}
}

.loaderplane {
	width: 160px;
	height: 160px;
	margin-bottom: 0px;
	& #pause,
	& #aircraft {
		fill: $link-color;
	}
	background: $loader-bg;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 10px solid $loader-bg;
	overflow: hidden;
	// padding: 10px;
	// transform: rotate(-90deg);
	@media all and(max-width: $breakpoint-tablet) {
		width: 100px;
		height: 100px;
	} //  @media all and(max-width: $breakpoint-mobile){
	//     width: 60px;
	//     height: 60px;
	// }
}

.loaderplane .plane {
	// transform: rotate(-35deg);
	transform-origin: 50% 50%;

	animation: aircraft 1.5s ease-out 0s infinite; // display: none;
}

.loaderplane .mask {
	transform-origin: 50% 50%;
	transform: rotate(90deg);
	fill: $loader-bg;
	animation: mask 1.5s ease-out 0s infinite; // display: none;
}

.loaderplane circle {
	stroke-dasharray: 565.487;
	stroke-dashoffset: 565;
	animation: loading 3s ease-out 0s infinite;
	animation-fill-mode: forwards;
	transform: rotate(-90deg);
	transform-origin: 50% 50%; // animation: stroke 1.5s ease infinite;
	stroke: $link-color; // stroke-linecap: round;
}

@keyframes loading {
	50% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: -565;
	}
}

// @-webkit-keyframes loading {
//     50%{
//         stroke-dashoffset: 0;
//     }
//     100%{
//         stroke-dashoffset: -565;
//     }
// }
@keyframes mask {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(450deg);
	}
}

@keyframes aircraft {
	100% {
		transform: rotate(360deg);
	}
}

.anchor{
	position: relative;
	top: -70px;
	// background: red;
	height: 1px;
	display: block;
	content: "";
}

.needhelp{
	// padding: 20px 20px 13px 20px;
	// background: $modalbg-color;
	// border: $modalborder;
	// -webkit-border-radius: $modal-radius;
	// -moz-border-radius: $modal-radius;
	// border-radius: $modal-radius;

	// @media all and (max-width: $breakpoint-tablet){
	// 	margin: 0 0 30px 0;
	// 	padding: 15px 15px 7px
	// }



	& .helplinks{
		// background: red;
		// margin: 0px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		// font-size: 17px;

		@media all and (max-width: $breakpoint-mobile){
			flex-direction: column;
		}

		& a{
			display: inline-block;
			// padding: 5px;
			// margin: 0 15px 0 0;
			padding: 5px 0;
			line-height: 1.2;

			&:hover{
				text-decoration: underline;
			}


			&:before{
				content: "\f2b7";
				font-family: "FontAwesome";

				// background: red;
				display: inline-block;
				margin: 0 5px 0 0;


				width: 25px;
				text-align: center;

			}

			&.phone:before{
				content: "\f095";
			}

			&.whatsapp:before{
				content: "\f232";
			}
		}
	}
}