
button{
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
	cursor: pointer;
}
.button{
	display: inline-block;
	font-family: $font-button;
	font-weight: 800;
	letterspacing: 1px;
	text-decoration: none !important;
	white-space: nowrap;
	font-size: $button-size;
	outline: 0;
	cursor: pointer;
	text-align: center;
	position: relative;
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-webkit-transition: all .15s ease-out 0s;
	transition: all .15s ease-out 0s;
	border-radius: 0px;

	

	&--next:after{
		content: "\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 10px;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 13px;
	}

	&--block{
		display: block;
		width: 100%;
	}

	&-primary{
		background: $button-bg;
		color: $button-color;
		padding: 13px 25px;
		white-space: nowrap;
		line-height: 1;
		text-transform: uppercase;
		font-size: 18px;
		min-width: 150px;
		border: none;

		&:hover{
			background: $button-bg-hover;
			color: $button-color-hover;
		}

		& img{
			display: inline;
			vertical-align: top;
			height: 16px;
			width: auto;
			margin-right: 10px;
		}

		& i{
			font-weight: normal;
			margin-right: 10px;
		}

		@media all and (max-width: $breakpoint-mobile){
			// display: block;
			font-size: 13px;
			// width: 100%;
			// float: none !important;
		}

		&--inverted{
			background: $button-bg;
			color: $button-color;

			&:hover{
				background: $button-color-hover;
				color: $button-color;
			}
		}

		&--small{
			padding: 10px 15px;
			font-size: 10px;
			margin-top: 2px;
			min-width: auto;
		}

		&--effect{
			background: none !important;
			overflow: hidden;
			-webkit-transition: all .3s ease-out 0s;
			transition: all .3s ease-out 0s;

			&:before{
				z-index: -2;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $button-bg;
				content: "";
			}
			&:after{
				position: absolute;
				top: 50%;
				left: -50px;
				content: " ";
				width: 50px;
				height: 50px;
				background: $button-bg-hover;
				z-index: -1;
				-ms-transform: translate(-0%, -50%);
				-webkit-transform: translate(-0%, -50%);
				transform: translate(-0%, -50%);
				-webkit-border-radius: 100%;
				-moz-border-radius:  100%;
				border-radius:  100%;
				-webkit-transition: all .3s ease-out 0s;
				transition: all .3s ease-out 0s;
			}

			&:hover:after{
				width: 300px;
				height: 300px;
			}
		}

	}

	&-secondary{
		border-radius: 50px;
		background: rgba(0,0,0,.5);
		color: #fff;
		border: 2px solid #fff !important;
		padding: 10px 20px;
		text-transform: uppercase;

		&:after{
			content: "\f105";
			font-family: "FontAwesome";
			margin-left: 5px;
			display: inline-block;
		}

		&--noArrow:after{
			display: none;
		}

		&:hover{
			color: #000;
			text-decoration: none;
			background: #fff;
		}

		&--small{
			padding: 10px 15px;
			font-size: 10px;
			margin-top: 2px;
		}

		&--inverted{
			background: #fff;
			color: #000;
			border-color: #fff;

			&:hover{
				background: rgba(0,0,0,.5);
				color: #fff;
				border-color:  #fff;
			}
		}
	}

	&-add{
		min-width: 132px;

		@media all and (max-width: $breakpoint-mobile){
			min-width: 119px;
			& span{
				display: none;
			}

			& i{
				margin: 0;
			}
		}


	}

	&-inversed{
		border-color: $link-color;

		&:after{
			display: none;
		}

		&:hover{
			background: $link-color;
		}
	}

	&:visited, &:active{
		text-decoration: none;
	}

	&--back{
		&:before{
			content: "\f104";
			font-family: "FontAwesome";
			margin-right: 5px;
		}
		&:after{
			display: none;
		}
		
	}

	&--lowercase{
		text-transform: none;
	}
}

button,input{
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: none;
}
button:active{
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: none;
}
button:focus{
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: none;
}

.remove{
	background: none;
	border: none;
	cursor: pointer;
	color: $link-color;
	padding: 0;
	line-height: 1.2;

	&:hover{
		color: #fff;
	}

	& span{
		display: inline-block;
		margin-left: 5px;
		@media all and (max-width: $breakpoint-mobile){
			display: none;
		}
	}
}

.readmore{
	background: none;
	padding: 0;
	font-size: 16px;
	color: $text-color;
	font-weight: 700;

	& i{
		font-weight: normal;
	}
}

.info-btn{
	background: none;
	color: $link-color;
	padding: 0;
	font-size: 18px;
	line-height: 0;
	vertical-align: center;
	position: relative;
	top: 0px;
	margin-right: 8px;
}