
button{
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
	cursor: pointer;
}
.button{
	display: inline-block;
	font-family: $font-button;
	font-weight: 700;
	letterspacing: 1px;
	text-decoration: none !important;
	white-space: nowrap;
	font-size: $button-size;
	outline: 0;
	cursor: pointer;
	text-align: center;
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;

	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: all .15s ease-out 0s;
	transition: all .15s ease-out 0s;

	&--next:after{
		content: "\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 10px;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 13px;
	}

	&--block{
		display: block;
		width: 100%;
	}

	&-primary{
		background: $button-bg;
		color: $button-color;
		padding: 13px 25px;
		white-space: nowrap;
		line-height: 1;
		text-transform: uppercase;
		font-size: 18px;
		min-width: 150px;
		border: none;

		&:hover{
			background: $button-bg-hover;
			color: $button-color-hover;
		}

		& img{
			display: inline;
			vertical-align: top;
			height: 16px;
			width: auto;
			margin-right: 10px;
		}

		& i{
			font-weight: normal;
			margin-right: 10px;
		}

		@media all and (max-width: $breakpoint-mobile){
			// display: block;
			font-size: 13px;
			// width: 100%;
			// float: none !important;
		}

	}

	&-secondary{
		border-radius: 50px;
		background: rgba(0,0,0,.5);
		color: #fff;
		border: 1px solid #fff;
		padding: 10px 20px;
		text-transform: uppercase;

		&:after{
			content: "\f105";
			font-family: "FontAwesome";
			margin-left: 5px;
			display: inline-block;
		}

		&:hover{
			color: #000;
			text-decoration: none;
			background: #fff;
		}
	}

	&:visited, &:active{
		text-decoration: none;
	}

	&--back{
		&:before{
			content: "\f104";
			font-family: "FontAwesome";
			margin-right: 5px;
		}
		&:after{
			display: none;
		}
		
	}
}

button, input{
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: none !important;
}
button:active{
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: none !important;
}
button:focus{
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: none !important;
}

.remove{
	background: none;
	border: none;
	cursor: pointer;
	color: $link-color;
	padding: 0;
	line-height: 1.2;

	&:hover{
		color: #fff;
	}

	& span{
		display: inline-block;
		margin-left: 5px;
		@media all and (max-width: $breakpoint-mobile){
			display: none;
		}
	}
}

.readmore{
	background: none;
	padding: 0;
	font-size: 16px;
	color: $text-color;
	font-weight: 700;

	& i{
		font-weight: normal;
	}
}