footer{
	background-color: $footer-bg;
	padding: 70px 0 70px;
	color: $footer-text;
	

	&.gradient{
		@include gradient($link-color, #6cb5ff);
	}

	@media all and (max-width: $breakpoint-tablet){
		padding: 50px 0 30px;
	}

	& h4{
		text-transform: uppercase;
		font: $font-header;
		font-weight: 700;
		margin: 0 0 20px;
		font-size: 24px;

		@media all and (max-width: $breakpoint-mobile){
			font-size: 24px;
			margin-bottom: 10px;
		}
	}

	& ul{
		list-style-type: none;
		padding: 0;
		margin: 0;

		& li{
			margin-bottom: 5px;

			@media all and (max-width: $breakpoint-mobile){
				// font-size: 14px;
				// margin-bottom: 3px;
			}
		}
	}

	& span.icon{
		// background-color: red;
		width: 18px;
		margin-right: 7px;
		text-align: center;
		display: inline-block;
	}

	& a{
		color: $footer-link;

		&:hover{
			color: $footer-hover;
			// color: $footer-text;
			// text-decoration: underline !important;
		}
	}

	& .footer-col{
		margin-bottom: 30px;

		@media all and (max-width: $breakpoint-mobile){
			text-align: center;
			margin-bottom: 20px;
		}
	}

	& hr{
		height: 1px;
		border: none;
		background-color: rgba(0,0,0,.2);
		line-height: 0;
		margin: 0 0 30px;
	}

	& .copyright{

		
	}

	& .legals{
		@media all and (max-width: $breakpoint-tablet){
			display: block;
			margin-top: 10px;

			& a{
				display: block;
				padding: 5px 0;
			}
		}
	}

	& .credits{
		float: right;
	}

	.payoff{
		font-size: 14px;
		padding-top: 16px;

		& a{
			display: inline-block; 
			margin-left: 10px;

			@media all and (max-width: $breakpoint-tablet){
				margin-left: 0px;
				display: block;
			}
		}

		@media all and (max-width: $breakpoint-tablet){
			
			text-align: center;

			& span{
				display: block;
				float: none;
			}
		}
	}

	& .language{
		display: inline-block;
		vertical-align: middle;
		// float: right;
		width: 100%;

		@media all and (max-width: $breakpoint-tablet){
			float: none;
			// background-color: red;
			display: block;
		}

		& label{
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
			font-size: 14px;
			margin-right: 10px;
			position: relative;
			top: 2px;
		}

		& .selectric-wrapper{
			display: inline-block;
			vertical-align: middle;
			width: 80%;

			@media all and (max-width: $breakpoint-tablet){
				width: 50%;
				display: block;
				margin: 20px auto 0;
			}

			@media all and(max-width: $breakpoint-mobile){
				// width: 100%;
			}
		}
	}
}

.social{
	list-style-type: none;
	margin-bottom: 10px;
	// margin-top: 30px;

	@media all and (max-width: $breakpoint-tablet){
		display: block;
		text-align: center;
	}

	& li{
		display: inline-block;
		vertical-align: middle;
		margin-right: 2px;

		& a{
			display: block;
			background-color: $footer-link;
			color: $footer-bg;
			border-radius: 100%;
			width: 34px;
			height: 34px;
			text-align: center;
			line-height: 34px;
			font-size: 16px;

			&:hover{
				color: $footer-hover;
			}
		}
		
		
	}
}

.footer-logos{
	background-color: #fff;
	padding: 50px 0;

	@media all and(max-width: $breakpoint-mobile){
		// padding: 20px 0;
	}


	& ul{
		margin: 0;
		padding: 0;

		@media all and(max-width: $breakpoint-tablet){
			text-align: center;
		}
	}
	& li{
		list-style-type: none;
		display: inline-block;
		margin-right: 10px;
		text-align: center;

		& img{
			max-height: 24px;
			width: auto;

			@media all and(max-width: $breakpoint-mobile){
				max-height: 17px;
			}
		}
	}
}

.cookies{
	position: fixed;
	z-index: 99;
	bottom: 20px;
	left: 30%;
	width: 40%;
	padding: 15px;
	background-color: rgba(0,0,0,0.8);
	font-size: 15px;
	border: 1px solid $border-color;

	@media all and(max-width: $breakpoint-tablet){
		width: 60%;
		left: 20%;
	}

	@media all and(max-width: $breakpoint-mobile){
		width: 90%;
		left: 5%;
		font-size: 13px;
	}

	& button{
		padding: 0;
		background-color: transparent;
		float: right;
		margin: 0 0 0 20px;
		curspor: pointer;
	}

	& p{
		margin: 0;
		line-height: 1.4;
	}

}