/* Default Variables */
@import "_variables.scss";

.global-pricewrapper{

    text-align: right;
     @media all and(max-width: $breakpoint-tablet) {
        text-align: left;
    }
}

.cookies{
    padding: 20px 80px 20px 20px;

    @media all and(max-width: $breakpoint-mobile) {
        padding: 20px 60px 20px 20px;
    }
}

.hero-fullscreen{
    overflow: visible;

    & .inner{
        z-index: 30;
    }
}

.room .offer-price{
    @media all and(max-width: $breakpoint-mobile) {
        text-align: left;
        float: none;
    }
}

.info-list-answer{
    margin-bottom: 0px;
}


.poweredbybooking{
    @media all and(max-width: $breakpoint-mobile) {
        margin-bottom: 25px;
    }
}


.event-info-item .content {
    margin-bottom: 15px;
    height:200px;
    // max-height: 400px;

    & ol {
        line-height: 1.6;
        margin: 0 0 20px 5px;
    }

    &-active {
        height: auto;
    }

    & p {
        line-height: 1.6;
        margin-bottom: 8px !important;
    }
}

.t-check-out {
    width: calc(50% - 15px);
}

.hero-selector{
    overflow: visible;
}

