.header{
	background: $header-bg;
	color: $header-text;
	padding: 30px 0;
	position: relative;

	@media all and (max-width: $breakpoint-mobile){
		padding: 20px 0;
	}
}

.mainnav{
	padding: 0;
	height: 30px;
	line-height: 30px;

	@media all and (max-width: $breakpoint-mobile){
		height: 15px;
	}

	& .logo{
		display: inline-block;
		margin: 0;
		line-height: 0;

		& img{
			display: block;
			height: 30px;

			@media all and (max-width: $breakpoint-mobile){
				height: 15px;
				line-height: 15px;
			}
		}
	}

	& .booking{
		float: right;
		font-size: 20px;
		vertical-align: middle;
		display: inline-block;
		

		&-info{
			display: inline-block;
			-webkit-transition: color .2s ease-in-out 0s;
			transition: color .2s ease-in-out 0s;
			vertical-align: middle;
			cursor: pointer;

			&:before{
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			&:hover{
				color: $header-hover;
			}
		}

		&-cart{
			font-family: $font-header;
			text-transform: uppercase;
			font-weight: 700;
			margin-right: 10px;
			

			&:before{
				content: "\f0d7";
				font-family: "FontAwesome";
				display: inline-block;
				font-weight: normal;
				margin-right: 8px;
			}
		}

		@media all and (max-width: $breakpoint-mobile){
			line-height: 20px;
			font-size: 14px;
		}

	}

	& .hamburger{
		border: none;
		background: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		height: 40px;
		width: 40px;
		overflow: hidden;
		vertical-align: middle;
		margin-left: 20px;
		position: relative;
		line-height: 0px;
		cursor: pointer;
		font-size: 40px;
		text-align: center;
		// background: red;
		font-weight: normal;
		-webkit-transition: color .2s ease-in-out 0s;
		transition: color .2s ease-in-out 0s;

		&:hover{
			color: $header-hover;
		}


		// & img{
			// 	height: 30px;
			// 	width: auto;
			// }

			@media all and (max-width: $breakpoint-mobile){
				font-size: 20px;
				height: 20px;
				width: 20px;
				margin-left: 10px;
			}
		}
	}

	.subnav{
		position: absolute;
		overflow-y: auto;
		right: 0px;
		bottom: 0px;
		height: 100%;
		top: 90px;
		// width: 25%;
		width: 400px;
		z-index: 100;
		background: rgba(0,0,0,.95);
		color: #fff;
		padding: 60px 30px;

		-webkit-transition: transform .3s ease-in-out 0s;
		transition: transform .3s ease-in-out 0s;

		-ms-transform: translate(+100%, 0); /* IE 9 */
		-webkit-transform: translate(+100%, 0); /* Safari */
		transform: translate(+100%, 0);

		@media all and (max-width: $breakpoint-tablet){
			width: 50%;
		}
		@media all and (max-width: $breakpoint-mobile){
			top: 55px;
			width: 320px;
		}

		&-active{
			-ms-transform: translate(0%, 0); /* IE 9 */
			-webkit-transform: translate(0%, 0); /* Safari */
			transform: translate(0%, 0);
		}

		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;

			& li{
				font-family: $font-header;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 24px;
				margin-bottom: 10px;
				border-bottom: 1px solid rgba(255,255,255,.1);
				padding-bottom: 10px;

				& ul{
					margin: 10px 0 10px 0px;

					& li{
						font-family: $font;
						font-weight: 400;
						font-size: 20px;
						text-transform: none;
						margin-bottom: 5px;
						padding: 0;
						border: none;
					}
				}

				& a{
					color: #fff;
					display: block;

					&:hover{
						color: $edm-color;
					}
				}
			}
		}
	}