
.header{
	background: $header-bg;
	color: $header-text;
	height: $header-height;
	position: relative;
	z-index: 100;
	-webkit-transition: all .2s ease-out 0s;
	transition: all .2s ease-out 0s;
	
	-webkit-box-shadow: $main-shadow;
	-moz-box-shadow:  $main-shadow;
	box-shadow:  $main-shadow;

	@media all and (max-width: $breakpoint-mobile){
		height: $header-height-mobile;
	}
}




.logo{
	display: inline-block;
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%); 
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	line-height: 0;
	

	& img{
		display: block;
		height: $logo-height;
		-webkit-transition: all .2s ease-out 0s;
		transition: all .2s ease-out 0s;

		@media all and (max-width: $breakpoint-mobile){
			height: $logo-height-mobile;
		}
	}
}

.mainnav{
	float: right;
	height: $header-height;
	display: table;
	-webkit-transition: all .2s ease-out 0s;
	transition: all .2s ease-out 0s;


	@media all and (max-width: $breakpoint-mobile){
		height: $header-height-mobile;
	}

	& .booking{
		font-size: 20px;
		vertical-align: middle;
		display: table-cell;

		
		

		&-info{
			display: inline-block;
			-webkit-transition: color .2s ease-in-out 0s;
			transition: color .2s ease-in-out 0s;
			vertical-align: middle;
			cursor: pointer;

			&:before{
				content: "\f0d7";
				font-family: "FontAwesome";
				display: inline-block;
				font-weight: normal;
				margin-right: 8px;

				@media all and (max-width: $breakpoint-mobile){
					margin-right: 4px;
				}
			}

			&:hover{
				color: $header-hover;
			}
		}

		&-cart{
			font-family: $font-header;
			text-transform: uppercase;
			font-weight: 700;
			margin-right: 10px;

			@media all and (max-width: $breakpoint-mobile){
				display: none;
			}
		}

		@media all and (max-width: $breakpoint-mobile){
			font-size: 16px;
		}

	}

	& .hamburger{
		padding: 0;
		content: '';
		width: 38px;
		height: 30px;
		vertical-align: middle;
		background: none;
		font-weight: normal;
		-webkit-transition: color .2s ease-in-out 0s;
		transition: color .2s ease-in-out 0s;
		margin-left: 20px;
		cursor: pointer;
		background: transparent url(../img/menu-#{$menu-color}.svg) no-repeat 0 0 scroll;
		background-size: auto 30px;
		-webkit-transition: all .2s ease-out 0s;
		transition: all .2s ease-out 0s;
		border: none !important;


		&-close{
			background-position: -38px 0;
		}

		&:hover{
			color: $header-hover;
		}

		@media all and (max-width: $breakpoint-mobile){
			margin-left: 10px;
			background-size: auto 20px;
			height: 20px;
			width: 25px;

			&-close{
				background-position: -26px 0;
			}
		}

		& img{
			height: 30px;
			width: auto;

			@media all and (max-width: $breakpoint-mobile){
				height: 20px;
			}
		}

		
	}
}

.subnav{
	position: fixed;
	overflow-y: auto;
	right: -110%;
	bottom: 0px;
	height: 100%;
	top: $header-height;
	// width: 25%;
	width: 400px;
	z-index: 99;
	background: $subnav-bg;
	color: $subnav-color;
	padding: 40px 30px;
	-webkit-box-shadow: $subnav-shadow;
	-moz-box-shadow:  $subnav-shadow;
	box-shadow:  $subnav-shadow;

	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;

	// -ms-transform: translate(+110%, 0); /* IE 9 */
	// -webkit-transform: translate(+110%, 0); /* Safari */
	// transform: translate(+110%, 0);

	@media all and (max-width: $breakpoint-tablet){
		width: 50%;
		right: -60%
	}
	@media all and (max-width: $breakpoint-mobile){
		top: $header-height-mobile;
		width: 100%;
		padding: 30px 15px;
		right: -110%;
	}

	& strong{
		color: $subnav-strong;
	}

	&-active{
		right: 0%;
		// -ms-transform: translate(0%, 0); /* IE 9 */
		// -webkit-transform: translate(0%, 0); /* Safari */
		// transform: translate(0%, 0);
	}

	& a{
		color: $subnav-link;
	}

	& .subnav-list{
		margin: 0;
		padding: 0;
		list-style-type: none;

		& li{
			font-family: $font-header;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 20px;
			margin-bottom: 10px;
			border-bottom: $subnav-border;
			padding-bottom: 10px;

			& ul{
				margin: 10px 0 10px 0px;
				padding: 0;
				list-style-type: none;

				& li{
					font-family: $font;
					font-weight: 400;
					font-size: 16px;
					text-transform: none;
					margin-bottom: 5px;
					padding: 0;
					border: none;

					& a{
						color: $subnav-sublink;
						display: block;

						&:hover{
							color: $subnav-hover;
						}
					}
				}
			}
		}
	}

	& .contactDetails{
		font-size: 16px;
		font-weight: 400;
		text-transform: none;
		font-family: $font;
		font-weight: 400;
		padding-top: 10px;
		// line-height: 1.4;

		& a{
			display: inline-block !important;
			margin-bottom: 5px;
		}
	}

	& .social{
		display: inline-block;
		padding: 0;
		margin-top: 10px;
		

		& a{
			background-color: $subnav-social-bg;
			color: $subnav-social-color;

			&:hover{
				color: $subnav-social-hover;
				background-color: $subnav-social-bghover;
			}
		}

	}
}

.yourbooking{

	display: none;

	background: $bg-color;
	position: absolute;
	top: $header-height;
	bottom: 0;
	width: 100%;
	font-size: 16px;

	@media all and (max-width: $breakpoint-mobile){
		font-size: 13px;
		top: $header-height-mobile;
	}

	& .container{
		padding-top: 60px;
		padding-bottom: 60px;

		@media all and (max-width: $breakpoint-mobile){
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	& h3{
		font-weight: 700;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 20px;
		padding: 10px 0 0;
		color: $heading-color;

		@media all and (max-width: $breakpoint-mobile){
			font-size: 18px;
		}
	}

	& .total{
		font-size: 24px !important;
		color: $heading-color;
		// font-family: $font-header;

		@media all and (max-width: $breakpoint-mobile){
			font-size: 17px !important;
			white-space: nowrap;
		}
	}
	z-index: 50;
}

.yourbooking-summary{
	width: 100%;

	& tr.bookingrow{
		& td{
			& hr{
				height: 1px;
				background: $border-color;
				line-height: 0;
				margin: 5px 0;
			}
		}
	}

	& td{
		padding: 5px 0;
		vertical-align: top;
	}

	& td.description{
		padding-right: 30px;
		font-weight: 700;
		width: 150px;


		@media all and (max-width: $breakpoint-mobile){
			padding-right: 15px;
			width: 130px;
		}
	}

	& td.content{

	}

	& td.amount{
		white-space: nowrap;
		text-align: right;
	}

	& td.remove{
		padding-left: 30px;
		text-align: right;

		@media all and (max-width: $breakpoint-mobile){
			// font-size: 16px;
			padding-left: 15px;
		}
	}

	& ul{
		list-style-type: none;
		margin: 0;
		padding: 0;

		& li{
			margin-bottom: 5px;
		}
	}

	& .total{
		font-weight: 700;
		text-transform: uppercase;
		font-size: 18px;
		// padding: 0 0 0 0;

	}
}

.notification{
	background: $notification-bg;
	text-align: center;
	color: $notification-text;
	font-family: $font-header;
	line-height: $header-height;
	text-transform: uppercase;
	font-weight: 700;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	height: $header-height;
	font-size: 18px;

	@media all and (max-width: $breakpoint-mobile){
		height: $header-height-mobile;
		line-height: $header-height-mobile;
	}

	& span{
		font-family: $font;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 12px;
	}
}

body.stickyheader{

	padding-top: $header-height;

	@media all and (max-width: $breakpoint-mobile){
		padding-top: $header-height-mobile;
	}

	& .header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: $header-bg-sticky;

		@media all and (max-width: $breakpoint-mobile){
			background: $header-bg;
		}
	}

	& .yourbooking{
		position: fixed;
	}
}

body.scrolled{
	& .header, & .mainnav{
		height: $header-height-mobile;
	}

	& .subnav, & .yourbooking{
		top: $header-height-mobile;
	}

	& .logo img{
		height: $logo-height-mobile;
	}

	& .hamburger{

		margin-left: 10px;
		background-size: auto 20px;
		height: 20px;
		width: 25px;

		&-close{
			background-position: -26px 0;
		}
	}
}