.hero{
	
	text-align: center;
	position: relative;
	color: $hero-color;
	background-position: center center;
	background-size: cover;
	background-blend-mode:  $blend-mode;
	

	@media all and (max-width: $breakpoint-mobile){
		// height: calc(70% - #{$header-height-mobile});
	}

	&-event{

		// height: calc(50% - #{$header-height});

		// @media all and (max-width: $breakpoint-tablet){
			// 	min-height: 200px;
			// 	height: calc(30% - #{$header-height-mobile}) !important;
			// }
		}

		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $hero-overlay;
		}

		&--red{
			background-color: $red-filter;
		}

		&--white{
			background-color: $white-filter;
		}

		&--blue{
			background-color: $blue-filter;
		}

		&--gradient:before{
			background: rgba(0,0,0,0);
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
		}





		& .inner{
			position: relative;
			width: 100%;
			left: 0;
			right: 0;
			// top: 50%;
			z-index: 10;
			padding: 150px 0;
			// background-color: red;
			// -ms-transform: translate(0, -50%); 
			// -webkit-transform: translate(0, -50%);
			// transform: translate(0, -50%);

			@media all and (max-width: $breakpoint-tablet){
				padding: 100px 0;
			}
		}

		&-buttons{
			margin: 40px 0 0 0;

			@media all and (max-width: $breakpoint-tablet){
				margin: 10px 0 0 0;
			}
		}


		&-fullscreen{
			height: 100%;

			& .inner{
				position: relative;
				width: 100%;
				left: 0;
				right: 0;
				top: 50%;
				z-index: 10;
				padding: 150px 0;
				// background-color: red;
				-ms-transform: translate(0, -50%); 
				-webkit-transform: translate(0, -50%);
				transform: translate(0, -50%);

				@media all and (max-width: $breakpoint-tablet){
					padding: 100px 0;
					top: 0;
					-ms-transform: translate(0, 0%); 
					-webkit-transform: translate(0, 0%);
					transform: translate(0, 0%);
				}
			}

			@media all and (max-width: $breakpoint-tablet){
				height: auto;
			}
		}

		& h1{
			font-family: $font-header;
			color: $hero-h1-color;
			font-weight: 800;
			font-size: 70px;
			line-height: 1;
			text-transform: uppercase;
			text-shadow: 0 0 15px rgba(0,0,0,.7);

			@media all and (max-width: $breakpoint-tablet){
				font-size: 40px;
			}
			@media all and (max-width: $breakpoint-mobile){
				font-size: 30px;
			}

			&.hero-event-title{
				font-size: 90px;

				@media all and (max-width: $breakpoint-tablet){
					font-size: 70px;	
				}
				@media all and (max-width: $breakpoint-mobile){
					font-size: 30px;
				}
			}
		}

		& h1 small{
			display: block;
			font-family: $font-hero-small;
			color: $hero-color;
			// text-transform: none;
			font-size: 32px;
			margin-top: 15px;
			margin-bottom: 30px;
			line-height: 1.2;
			// text-shadow: 0 0 15px rgba(0,0,0,.7);
			@media all and (max-width: $breakpoint-tablet){
				font-size: 20px;
			}
			@media all and (max-width: $breakpoint-mobile){
				font-size: 16px;
			}
		}

		& .videowrapper{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			overflow: hidden;

			// background: $bg-color; 
			background-size: cover;

			@media (max-width: $breakpoint-tablet){
				display: none;
			}

			&:before{
				content:"";
				background: $video-opacity;
				// background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
				// background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
				// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
			}

			& iframe{
				// -webkit-filter: grayscale(100%);
				// -moz-filter: grayscale(100%);
				// -ms-filter: grayscale(100%);
				// -o-filter: grayscale(100%);
				// filter: grayscale(100%);
			}
		}

		& .videoplayer{
			position: absolute;
			opacity: 0;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			z-index: 1;
			margin: auto;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			pointer-events: none;
			-webkit-animation-duration : 1s;
			animation-duration : 1s;

			@media (max-width: $breakpoint-tablet){
				display: none;
			}
		}
	}

	.videowrapper{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		overflow: hidden;

		// background: $bg-color; 
		background-size: cover;

		@media (max-width: $breakpoint-tablet){
			display: none;
		}

		&:before{
			content:"";
			background: $video-opacity;
			// background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
		}

		& iframe{
			-webkit-filter: $video-filter;
			-moz-filter: $video-filter;
			-ms-filter: $video-filter;
			-o-filter: $video-filter;
			filter: $video-filter;
		}
	}

	.videoplayer{
		position: absolute;
		opacity: 0;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		z-index: 1;
		margin: auto;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		pointer-events: none;
		-webkit-animation-duration : 1s;
		animation-duration : 1s;

		@media (max-width: $breakpoint-tablet){
			display: none;
		}
	}