---
title: Booking Succes
type: page
layout: default.hbs
---

<section class="section section--login">
	<div class="container">
		<h1 class="page-h1 text-center">Login</h1>
		<div class="row justify-content-center">
			<div class="col-10 col-md-8 col-lg-6">
				<div class="succes">
					<img src="assets/img/succes.svg" alt="" class="succes-icon wow flipInY" data-wow-duration="1s" data-wow-delay=".2s">
					<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<h3 class="h3">Thank you!</h3>
						<p>The transaction was succesfull. Please check the info below. An email with details will be send to mpouwels@gmail.com</p>

						<table>
							<tbody>
								<tr>
									<td width="50%" class="type">Date</td>
									<td width="50%">February 8, 2018</td>
								</tr>
								<tr>
									<td class="type">Payment Type</td>
									<td>iDEAL</td>
								</tr>
								<tr>
									<td class="type">Total</td>
									<td>&euro; 456.00</td>
								</tr>
							</tbody>
						</table>
						<a href="#" class="button">Back to homepage</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>