
// BREAKPOINTS
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;

$bg-color: #000;

$edm-color: #419bf7;

$font: 'Roboto', sans-serif;
$font-header: 'Prompt', sans-serif;
$text-color: #fff;

$blue-filter: rgba(0,155,255,1);
$white-filter: rgba(236,236,236,1);
$red-filter: rgba(255,55,0,1);


$font-button: 'Prompt', sans-serif;
$button-size: 15px;
$button-bg: red;
$button-border: blue;
$button-hover: yellow;

$header-bg: #e6e6e6;
$header-text: #000;
$header-hover: #419bf7;

$footer-bg: #419bf7;
$footer-text: #000;
$footer-link: #000;
$footer-hover: #fff;
$footer-heading: #000;
