
// BREAKPOINTS
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
$breakpoint-small: 576px;

$bg-color: #000;

$edm-color: #419bf7;
$link-color: #419bf7;
$border-color: rgba(255,255,255,.3);

$font: 'Roboto', sans-serif;
$font-header: 'Prompt', sans-serif;
$text-color: #fff;

$blue-filter: rgba(0,155,255,1);
$white-filter: rgba(236,236,236,1);
$red-filter: rgba(255,55,0,1);
$grey-filter: rgba(50,50,50,1);


$font-button: 'Prompt', sans-serif;
$button-size: 17px;
$button-bg: #419bf7;
$button-color: #fff;
$button-bg-hover: #fff;
$button-color-hover: #000;


$header-height: 90px;
$header-height-mobile: 60px;
$header-bg: #e6e6e6;
$header-bg-sticky: rgba(230,230,230, .9);
$header-text: #000;
$header-hover: #419bf7;

$footer-bg: #419bf7;
$footer-text: #000;
$footer-link: #000;
$footer-hover: #fff;
$footer-heading: #000;


$form-border: 1px solid red;