@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Prompt:400,700,800');

$header: #a8cbc5;
$color-1: #a8cbc5; /* blue */
$color-2: #a8cbc5; /* blue */
$color-3: #e6e7e8; /* grey */

$text-color: #000; /* text color */

$font: 14px/1.2 'Roboto', sans-serif;
$headerfont: 'Prompt', sans-serif;

/* resets the automatic margin and padding of the browser */
body, html {
	margin:0;
	padding:0;
}
*:invalid {
box-shadow: none;
}
* {
	outline:none;
}
/* sets the standard font */
a{
	color: #000;
	text-decoration: underline;
	cursor:pointer;
}
body {
	color: $text-color;
	font: $font;
	background: none !important;
}
input{
	height:30px;
	padding: 0 5px;
	background:#f9f9f9;
}
input:focus{
	background:#fff;
}
input[type="checkbox"]{
	height:auto;
}
select{
	height: 30px;
	min-width: 80px;
	padding-right:34px;
	padding-left: 10px;
	border: 1px solid #d3d3d3 !important;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    background-image: url("../images/mobile/select-pfeil.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color:#f9f9f9;
}
.form .gwt-Label{
	font-size:13px;
}
.mainLayout{
	margin:100px 0 0 0;
	background: none !important;
}
.headerTitle{
	color: $text-color;
	font-weight:bold;
}
.paymentChoiceMenuRow{
	clear:both;
}
/*Merchant header*/
.merchantHeader {
	width:100%;
	height:50px;
	background: url("../images/mobile/bg-blue-small.png") repeat;
	background: url('../images/mobile/shadow.png') center top no-repeat, url("../images/mobile/bg-blue-small.png") repeat !important;
	background: $header !important;
	margin:0;
	position: static;
}
.merchantHeader .docdataHeader{
	width:960px;
	margin:0 auto;
}
.merchantHeader img{
	max-height:50px;
	position:absolute;
	top:25px;
}
.shop_logo{
	background: url("img/basesheet.png") repeat scroll 0 0 transparent;
    top: 46px;
    display: block;
    height: 63px;
    left: 0;
    position: absolute;
    text-indent: -9999em;
    width: 221px;
}
.merchantHeader .centerLayout{
	background:none;
}
/*Merchant footer*/
.merchantFooter {
	width:100%;
	height:100px;
	background: none;
	position: relative;
	z-index: 3;
}
.scrollHint{
	display:none;
	z-index: 2;
}
.scrollHint img{
	position: absolute;
	bottom:15px;
	right:15px;
}

/*Docdata payment menu*/
.centerLayout {
	width:960px;
	margin:0 auto;
	padding:20px 0 0 0;
	position:relative;
	background:url('../images/mobile/shadow.png') center top no-repeat;
	background: none;
}
.paymentChoiceContainer {
	float:left;
	width:600px;
	margin:0 15px 0 0;
}
.primarySidebarContainer {
	width:310px;
	margin:0 0 0 650px;
}
/* Content */
/*Intro text*/
.title {
	font-size:24px;
	margin:0 0 10px;
	color: $text-color;
	text-transform: uppercase;
	font-weight: 800;
	font-family: $headerfont;
}
.title * {
	display:inline;
}
.introduction {
	border:none !important;
	margin:0 0 25px 0;
}
.h1.paymentChoiceBox{
	margin:10px 0;
	padding:0;
	border-bottom:3px solid $color-3;
	font-size:16px;
	font-weight:bold;
	line-height:28px;
	font-family: 'Roboto', sans-serif;
}
.transactionSummary>div .title{
	font-family: 'Roboto', sans-serif;
}
.horizontalClear {
	clear:both;
	height:0;
	width:100%;
}
/* Payment methods list */
.paymentChoiceMenu {
	margin:-10px 0 0;
	background:#fff;
}
.paymentChoiceHeader {
	height:50px;
	width:100%;
	border-bottom:1px solid $color-3;
	clear:both;
	line-height:50px;
	vertical-align:middle;

	cursor:pointer;
	font-weight:bold;

	-moz-transition:background 0.2s ease-in-out;
	-webkit-transition:background 0.2s ease-in-out;
	-ms-transition:background 0.2s ease-in-out;
	transition:background 0.2s ease-in-out;
}
.active.paymentChoiceHeader{
	background:#efefef;
}
.paymentChoiceHeader:hover {
	background:#efefef;
}
.paymentChoiceHeader>div {
	float:left;
}
.paymentChoiceHeader .gwt-Image {
	margin:0 10px;
	vertical-align:middle;
}
*:first-child+html .paymentChoiceHeader .gwt-Image {
	padding:10px 0;
}
.paymentChoiceHeader .gwt-Label {
	margin:0 0 0 10px;
	font-size: 14px;
}

/* payment method content */
.intro {
	padding:15px 0;
	height:30px;
}
.intro .gwt-Label {
	width:450px;
	float:left;
}
.intro .gwt-Image {
	float:right;
}
.intro img[src="/ps/pics/logo_transparent.png"]{
	display: none;
}
.introBold {
	font-weight: bold;
}
.introduction.title {
	margin:10px 0 0;
	padding:0 0 10px;
	border:none;
	font-weight:bold;
	color:#000;
	font-size:18px;
}
.introduction {
	padding:10px 0 0;
	border-top: 2px solid #d7d7d7;
}
.form {
	clear:both;
	height:30px;
	line-height: 30px;
	margin: 0 0 10px;
}
.accountHolderMiddle{
	line-height: 16px;
}
.form .gwt-Label:last-child{
	width:260px;
}
.form .gwt-Label, .form .checkable {
	float:left;
	width:180px;
	font-weight:bold;
}
.creditorName{
	margin-top:10px;
}
.creditorName,.creditorAddress,.creditorZipCode,.creditorResidence{
	margin:0;
	height:20px;
	line-height: 20px;
}
.creditorCountry{
	line-height: 20px;
}
.form.paymentData .gwt-Label.right {
	width:250px;
}
.form.submit {
	padding:15px 0;
	margin:0 0 25px;
	height:50px;
}
.form.submit .gwt-Image {
	margin: 0 0 0 150px;
	cursor: pointer;
}
.form .forwardBtn, .dialogContent a{
	background-image: url('../images/mobile/white-arrow-right.png') !important;
	background-color:$color-1 !important;
	background-position: 230px center !important;
	background-repeat: no-repeat !important;
	font-size:16px !important;
	color:#000 !important;
	display:block !important;
	margin:0 0 0 180px;
	width:225px !important;
	padding:4px 20px !important;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1) !important;
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1) !important;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,1) !important;
	border-radius: 0px 0px 0px 0px !important;
	-moz-border-radius: 0px 0px 0px 0px !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
	font-family: $headerfont;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
}
.form .forwardBtn:hover, .dialogContent a:hover{
	background-image: url('../images/mobile/white-arrow-right.png') !important;
	background-color: $color-2 !important;
	background-position: 230px center !important;
	background-repeat: no-repeat !important;
}
.form.submit .OraLink{
	float:left;
	margin:0 20px 0 0;
}
.dialogContent a{
	float:right;
	width:120px;
	text-align:center;
}
.form .checkable input {
	margin-left: 0px;
}
.form.acceptance .gwt-Image{
	margin-top:7px;
}
.form.acceptance .gwt-CheckBox.inputField{
	margin:2px 24px 0 2px;
}
.form .gwt-Image{
	margin:9px 0 0 10px;
}
.form .gwt-Image[src="img/validation_blank.png"]{
	display:none;
}
.form .gwt-Image[src="img/field_info.png"]{
	cursor:pointer;
}
.formbutton img {
	clear:both;
	margin: 0 0 0 150px;
	cursor: pointer;
}
.invoiceTypes {
	height: 36px;
}
.acceptance div.flowHorizontal div.flowHorizontal {
	float: left;
	font-weight: bold;
	width: 402px;
}
.creditCardField {
	float:left;
	padding:0 4.5px;
	width:52.75px;
	margin-right:3px;
	border:none transparent;
	text-align:left;
	border:1px solid #e3e3e3;
}
.creditCardField.right{
	margin-right:0;
}
.amexNumberField {
	float:left;
	padding:0 5px;
	width:73px;
	text-align:left;
	margin-right:3px;
	border:1px solid #e3e3e3;
}
.amexNumberField.right {
	float:left;
	padding:0 6px;
	width:74px;
	text-align:left;
	margin-right:0 !important;
}
.mistercash .creditCardField {
	width:48px;
}

.mistercash .creditCardField.right {
	width:12px;
}
.inputField {
	border:1px solid #e3e3e3;
	float:left;
	width:254px;
}
.gwt-CheckBox.inputField {
	width: 18px;
	border: none;
    margin:0 0 0 2px;
}
.gwt-ListBox.inputField {
	width: 266px;
}
.selectInvoiceType.inputField {
	margin-right: 2px;
	border: none;
}
.invalid {
	border:1px solid #FF4343 !important;
	background-color:#FFDCDC !important;
}
select.invalid{
	background-image: url("../images/mobile/select-pfeil.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.expiryDateField {
	border:none;
	margin:0 12px 0 0;
}
.expiryDateField .gwt-ListBox {
	float:left;
	border:1px solid #e3e3e3;
}
.expiryDateField .gwt-Label {
	float:left;
	width:10px;
	padding:0 5px;
}
.paymentChoiceForm {
	clear:both;
	background-image: url("../images/mobile/shadow.png");
	background: none;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 130% 19px;
	padding-bottom: 10px;
}
.paymentChoiceForm.sliding {
	overflow-y:hidden;
}
.creditCardNumber .inputField{
	width:264px;
	border:none;
}
.popup {
	background:#fff;
	border:1px solid #c5c5c5;
	/*padding:5px;*/
	box-shadow:3px 3px 5px #bbb;
	clip:auto !important;
	z-index:9999;
}
.link.backBtn{
	float:right;
	line-height:30px;
	cursor:pointer;
	padding:0;
	margin:0 0 15px;
    font-size: 14px;
}
.gwt-Anchor:hover {
	text-decoration:none;
}
/* sidebar */
.sidebarBox {
	margin:0 0 15px;
	padding:0 0 15px 0;
	background-image: url('../images/mobile/shadow.png');
	background-size: 130% 19px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background: none;
	border-bottom: 1px solid $color-3;
}

.languageSelection{
	border: none !important;
}
.sidebarBox .gwt-Anchor {
	cursor: pointer;
	display: block;
	float: none;
	line-height: 0;
	padding: 0 30px 0 0;
	text-align: right;
	line-height: 22px;
	background-image: url("../images/mobile/blue-arrow-right.png");
    background-position: right center;
    background-repeat: no-repeat;
    margin:5px 0 0;
}
.languageSelection div.gwt-Label {
	display: inline;
	margin-right: 10px;
}
.languageSelection.sidebarBox{
	right: 10px;
    top: -41px;
    z-index: 123;
    position: absolute;
    color: $text-color;
}
select.languageSelection.sidebarBox{
	background-image: url("../images/mobile/select-pfeil.png");
  	background-position: right center;
  	background-repeat: no-repeat;
  	background-size: 30px 30px;
  	background-color: #f9f9f9;
	-moz-box-shadow:none;
    -webkit-box-shadow:none;
	-ms-box-shadow:none;
    box-shadow:none;
    color:#000;
    padding: 0 40px 0 0;
}
.safePaymentInformation {
	padding:10px 10px 40px 10px;
	color: $text-color;
	margin:10px 0 10px;
}
.headerTitle {
	font-size:18px;
	color: $text-color;
	margin:0 0 20px;
	// font-family: $headerfont;
	text-transform: uppercase;
}
.title.sidebarBoxContent {
	margin:0;
}

.safePaymentInformation .gwt-Image {
	float:left;
	margin: 10px 10px 5px 0;
	width:63px;
	height:67px;
}
.safePaymentInformation a:hover {
	text-decoration:none;
}
.transactionSummary{
	padding: 0 0 20px 0;
}
.transactionSummary .headerTitle{
	margin:0;
	font-size:18px;
}
.transactionSummary>div {
	padding:10px;
	font-size:12px;
}
.transactionSummary>div .title {
	font-weight:bold;
	font-size:13px;
}
.transactionSummary>div .description {
	margin:0 0 10px;
}
.priceCalculation{
	color:$text-color;
	margin:10px 0 0;
}
.priceCalculation .headerTitle {
	font-size:18px;
	padding:10px;
	margin:0;
}
.priceCalculation>div {
	padding:10px;
	font-size:14px;
}
.priceCalculation>div .title {
	font-weight:bold;
	font-size:14px;
}
.priceCalculation .sidebarBoxContent .gwt-Label {
	display:block;
	text-align:right;
}
.priceCalculation .sidebarBoxContent .gwt-Label:first-child {
	text-align:left;
	float:left;
}
.priceCalculation .footer {
	background: $color-1;
	padding:10px;
}
.priceCalculation .footer .title {
	font-size:14px;
	margin:0;
	text-align:right;
	color:#000;
}
.priceCalculation .footer .title div:first-child {
	text-align:left;
	float:left;
}
.orderInfo .dialogMiddleCenter {
	padding: 0px;
}
.orderInfo .title {
	background: #009ee2;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 0px;
	position:relative;
}
.orderInfo .title img {
	float: right;
	cursor:pointer;
	text-indent:-9999em;
	opacity:0.5;
	width:24px;
	height:23px;
	position:absolute;
	right:10px;
	top:10px;
}
.orderInfo .shoppingCartPanel {
	width: 350px;
	float:left;
	height: 360px;
	overflow-y: auto;
}
.orderInfo .shoppingCartPanel img {
	border: 1px solid #9CD7D2;
	float: left;
	max-width: 100px;
	max-height: 120px;
}
.orderInfo .shoppingCartPanel .product {
	border-bottom: 1px solid #C5C5C5;
	padding: 5px;
}
.orderInfo .shoppingCartPanel .product .gwt-Label{
	margin-left:110px;
}
.orderInfo .shoppingCartPanel .product .total {
	float:right;
	bottom:20px;
	position:relative;
}
.orderInfo .priceCalculationPanel {
	width: 280px;
	float: left;
	background: #f5f5f5;
	height: 333px;
	overflow-y: auto;
}
.orderInfo .priceCalculationPanel .gwt-Label {
	margin: 5px;
}
.orderInfo .priceCalculationPanel .left {
	float: left;
	width: 180px;
}
.orderInfo .priceCalculationPanel .right {
	float: right;
}
.orderInfo .priceCalculationPanel .footer {
	background: #009ee2;
	color:#fff;
	bottom: 0;
	right:0;
	position: absolute;
	width: 280px;
	font-weight:bold;
	font-size:16px;

}
.miniFont {
	font-size: 10px;
	line-height: 15px;
}
.smallFont {
	font-size: 12px;
	line-height: 25px;
}
.bigFont {
	font-size: 16px;
}
.marginTopSmall {
	margin-top: 8px;
}
/*Disabled PM*/
.disabled .paymentChoiceHeader {
	background:#ffd5d5;
	color:#e51515;
}
.disabled .intro .title {
	color:#e51515;
	line-height:60px;
}
/* Popups */
.popup.spinner img {
	float:left;
	padding:10px 10px 10px 0;
}
.dialogMiddleCenter {
	vertical-align:middle;
	padding:10px;
}
.popup a {
	background:#009ee2;
	color: #FFFFFF;
	display: block;
	height: 30px;
	line-height: 30px;
	padding:0 5px;
	margin: 10px 0 0 10px;
	text-decoration: none;
}
.dialogContent .right{
	cursor: pointer;
    display: block;
    margin: 0 0 10px auto;
}
.logbox {
	display:none;
}
.valueOnlyRowColumn {
    margin-left: 180px;
    clear: both;
}
.form .gwt-HTML.sddConsentInfo {
    width: 450px;
    font-weight: normal;
}

.form.big {
    height: auto;
    line-height: 18px;
}

.form.formTitle {
    margin: 10px 0 0 0;
    background: none repeat scroll 0 0 #009EE2;
    color:#fff;
    line-height: 30px;
}

.form .gwt-Label.formTitleLabel {
    text-align: center;
    width: 100%;
}


/* BROWSER CHEATS */

/* Firefox */
@-moz-document url-prefix() {
	select{
		padding-right:0;
	}
	select, .invalid, select.invalid {
	    background-image: none;
	}
	select.invalid{
		background-image: none;
	}
}

/* Internet Explorer */
select::-ms-expand {
    display: none;
}
@media \0screen\,screen\9 {
	select, .invalid {
	    background-image: none;
	    padding-right:0;
	}
}
* + html .creditorName {
    height:34px;
    line-height: 15px;
}
* + html .mandateId{
	line-height: 15px;
}


/* RESPONSIVE CSS */

@media screen and (max-width: 780px) {
	.centerLayout,
	.intro .gwt-Label,
	.form .gwt-Label,
	.form .gwt-Label:last-child,
	.form .checkable,
	.paymentChoiceContainer,
	.acceptance div.flowHorizontal div.flowHorizontal,
	.form .gwt-HTML.sddConsentInfo,
	.orderInfo .shoppingCartPanel,
	.orderInfo .priceCalculationPanel,
	.orderInfo .priceCalculationPanel .footer{
		width:100%;
		float:none;
		margin-left:0;
		margin-right:0;
	}
	.intro,
	.creditorName,
	.creditorAddress,
	.creditorZipCode,
	.creditorResidence,
	.creditorId,
	.mandateId,
	.acceptance,
	.ibanlink,
	.gender,
	.paymentData,
	.accountNumber,
	.orderInfo .shoppingCartPanel,
	.orderInfo .shoppingCartPanel .product,
	.orderInfo .priceCalculationPanel,
	.form{
		height:auto;
	}
	.creditorId,
	.mandateId,
	.acceptance,
	.ibanlink,
	.paymentData{
		line-height: 20px
	}
	.creditCardNumber .inputField {
		width: 84% !important;
	}
	.amexNumberField{
		width:27%;
		margin-right:1.5%;
	}
	.amexNumberField.right{
		margin-right:0;
	}
	.intro .gwt-Image,
	.expiryDateField .gwt-Label,
	.orderInfo .shoppingCartPanel img{
		display: none;
	}
	.form .forwardBtn, .dialogContent a{
		margin:0 auto;
		width:80%;
		background-position: 90% center;
	}
	.forwardBtn{
		font-family: $headerfont !important;
		text-transform: uppercase !important;
	}
	.form .forwardBtn:hover, .dialogContent a:hover{
		background-position: 90% center;
	}
	.paymentChoiceForm, .primarySidebarContainer{
		width:90%;
		margin:0 5%;
	}
	.introduction{
		width:90%;
		margin:1% 5%;
	}
	.h1.paymentChoiceBox{
		margin:5% 0;
		padding:0 5%;
	}
	.title *{
		line-height: 25px;
	}
	.link.backBtn{
		position: absolute;
		bottom:-80px;
		left:5%;
	}
	.primarySidebarContainer{
		margin:5% 5% 0 5%;
	}
	.expiryDateField .gwt-Label{
		width:auto;
		float:left;
	}
	.popup{
		width:90% !important;
		left:5% !important;
	}
	.popup table{
		width:100%;
	}
	.price .gwt-Label{
		width:50% !important;
		float:left !important;
	}
	.valueOnlyRowColumn{
		margin:0;
	}
	select.inputField{
		width:83.5% !important;
	}
	.inputField{
		width:80% !important;
		float:left !important;
	}

	.orderInfo .priceCalculationPanel{
		padding-bottom:40px;
	}
	.orderInfo .priceCalculationPanel .left{
		width:70%;
	}
	.merchantFooter .scrollHint{
		display:block;
		height:70px;
		/*background:url('http://devoline.com/overlay100.png') repeat-x;*/
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		position:fixed;
		bottom:0;
		width:100%;
		left:0;
		z-index:999;
	}
	.merchantHeader img{
		max-height:80px;
		max-width:90%;
		margin-left:5%;
	}
	.expiryDateField {
		margin:0 1px 0 0;
		width:83.4% !important;
	}
	.orderInfo .shoppingCartPanel .product .gwt-Label{
		margin:0;
	}

}

@media screen and (min-width: 500px) and (max-width: 780px) {

	.form .gwt-Label, .form .checkable{
	    float: left;
	    width: 180px;
	}
	.valueOnlyRowColumn{
		margin-left:180px !important;
	}
	.inputField {
	    width: 254px !important;
	}
	select.inputField, .creditCardNumber .inputField{
		width: 266px !important;
	}
	.expiryDateField{
		width: 265px !important;
	}
	.form .forwardBtn, .dialogContent a{
		margin:0;
		width:250px;
		background-position: 250px center;
	}
	.form .forwardBtn:hover, .dialogContent a:hover{
		background-position: 250px center;
	}
	.safePaymentInformation{
		min-height: 110px;
	}
	.amexNumberField{
		width:27%;
		margin-right:1.5%;
	}
	.amexNumberField.right{
		margin-right:0;
	}

}
@media screen and (min-width: 780px) and (max-width: 1000px) {

	.centerLayout{
		width:95%;
		padding:20px 2.5% 0;
	}
	.paymentChoiceContainer{
		width:65%;
	}
	.primarySidebarContainer{
		width:32%;
		margin: 0 0 0 68%;
	}
	.expiryDateField .gwt-Label{
		display: none;
	}

}
@media screen and (max-width: 381px) {
	.creditCardField{
		width: 19% !important;
	}
}
@media screen and (max-width: 350px) {
	.expiryDateField, select.inputField, .expiryDateField {
		width: 77% !important;
	}
	.creditCardNumber .inputField{
		width: 72% !important;
	}
	.inputField{
		width:72% !important;
		padding:0 0 0 1% !important;
	}
	.creditCardField{
		width: 16% !important;
	}
	.amexNumberField {
		width: 25% !important;
		margin-right: 1% !important;
	}
	.amexNumberField.right {
		width: 25% !important;
	}
	.gwt-CheckBox.inputField {
		width: 18px !important;
	}
	.expiryDateField .gwt-ListBox {
		width: 33.3333% !important;
	}
	.afmCreditWarning img{
		width:100%;
		height:auto;
	}
}
@media screen and (max-width: 240px) {

	.creditCardField{
		width: 15% !important;
	}
	.inputField{
		width:71% !important;
		padding:0 0 0 1% !important;
	}
	.amexNumberField {
		width: 23% !important;
		margin-right: 1% !important;
	}
	.amexNumberField.right {
		width: 24% !important;
	}

}